<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CONNECT</title>
        <!--
        set title logo
        <link rel="shortcut icon" href="your_image_path_and_name.ico" />
        -->
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
        {% load static %}
        <link href="{% static 'css/about_us.css' %}" rel="stylesheet" type="text/css">
    </head>
    

    <header>
        <div id = "navbar"> <!--navigation bar-->
            <div id = "title">CONNECT.</div>

            <ul>
                <li>
                    <a class = "button" href="#">home</a>
                </li>
                <li>
                    <a class = "button" href="#">activity</a>
                </li>
                <li>
                    <a class = "button" href="#">about us</a>
                </li>
            </ul>
        </div>
    </header>
        

    <body>
        <div id = "background"></div>

        <div> <!-- backrground group image-->
            {% load static %}
            <img id = "group-img" src = "{% static './file/groupphoto_2.png'%}">
        </div>

        <div id = "about-details"> <!-- details each person-->
        

        <div id = "img-cards">
        
            <div id = "gap1"></div>
            <h1>about us.</h1>
            <p id = "slogan">我們是一群由成功大學電機系、工設系、不分系和外文系的學生所組成的一個團隊，目標是在這學期結束前架構出一個專門為大學生設計的社群網站 - CONNECT，讓大學生們可以在學校裡更容易找到志同道合的夥伴共事
            </p>
            <div id = "gap2"></div>
            <div id = "flex-column">

                <div class = "flex-row">
                    <div id = "c1" class = "card">
                        {% load static %}
                        <img class = "personal_pic" src = "{% static 'file/name1_2.png'%}">
                        <div class = "card-bg"></div>
                        <div class = "card-detail"> <!--we could set the background color here-->
                            <p class = "personal-name">張仲喆</p><!-- we should wait till the designers to give us the font size of this-->
                            <p class = "description">工程師</p>
                            <div style = "display:none">
                                <br><br><br><br><br>
                                <p class = "description">技能：c, c++, lr</p>
                                <p class = "description">系所：電機系111</p>
                                <p class = "description">興趣：攝影, 打桌球, 打code, 彈吉他</p>
                            </div>
                        </div>
                    </div>
                    

                    <div class = "card">
                        {% load static %}
                        <img class = "personal_pic" src = "{% static 'file/name2_2.png'%}">
                        <div class = "card-bg"></div>
                        <div class = "card-detail"> <!--we could set the background color here-->
                            <p class = "personal-name">蔡孟芩</p><!-- we should wait till the designers to give us the font size of this-->
                            <p class = "description">設計師</p>
                            <div style = "display:none">
                                <br><br><br><br>
                                <p class = "description">技能：英文, 德文, 翻譯</p>
                                <p class = "description">系所：外文系110</p>
                                <p class = "description">興趣：學習語言, 寫詞編曲, 烘焙</p>
                            </div>
                        </div>
                    </div>

                    <div class = "card">
                        {% load static %}
                        <img class = "personal_pic" src = "{% static 'file/name3_2.png'%}">
                        <div class = "card-bg"></div>
                        <div class = "card-detail"> <!--we could set the background color here-->
                            <p class = "personal-name">陳亮州</p><!-- we should wait till the designers to give us the font size of this-->
                            <p class = "description">工程師</p>
                            <div style = "display:none">
                                <br><br><br><br>
                                <p class = "description">技能：Java, C, C++, Python</p>
                                <p class = "description">系所：電機系111</p>
                                <p class = "description">興趣：聽音樂, 看電影, 打code</p>
                            </div>
                        </div>
                    </div>

                    <div class = "card">
                        {% load static %}
                        <img class = "personal_pic" src = "{% static 'file/name4_2.png'%}">
                        <div class = "card-bg"></div>
                        <div class = "card-detail"> <!--we could set the background color here-->
                            <p class = "personal-name">鄭有希</p><!-- we should wait till the designers to give us the font size of this-->
                            <p class = "description">設計師</p>
                            <div style = "display:none">
                                <br><br><br><br>
                                <p class = "description">技能：ps, ai, pr, solidworks</p>
                                <p class = "description">系所：工設110</p>
                                <p class = "description">興趣：看小說, 打排球, 彈吉他</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="flex-row">
                    <div class = "card">
                        {% load static %}
                        <img class = "personal_pic" src = "{% static 'file/name5_2.png'%}">
                        <div class = "card-bg"></div>
                        <div class = "card-detail"> <!--we could set the background color here-->
                            <p class = "personal-name">鄭价閎</p><!-- we should wait till the designers to give us the font size of this-->
                            <p class = "description">工程師</p>
                            <div style = "display:none">
                                <br><br><br><br><br>
                                <p class = "description">技能：Java, C</p>
                                <p class = "description">系所：電機系111</p>
                                <p class = "description">興趣：球類, 手遊, 漫畫, 魔方</p>
                            </div>
                        </div>
                    </div>

                    <div class = "card">
                        {% load static %}
                        <img class = "personal_pic" src = "{% static 'file/name6_2.png'%}">
                        <div class = "card-bg"></div>
                        <div class = "card-detail"> <!--we could set the background color here-->
                            <p class = "personal-name">蕭孟恩</p><!-- we should wait till the designers to give us the font size of this-->
                            <p class = "description">設計師</p>
                            <div style = "display:none">
                                <br><br><br><br>
                                <p class = "description">技能：Ai, ID, Miro, Figma</p>
                                <p class = "description">系所：不分系110</p>
                                <p class = "description">興趣：科幻電影, 獨立音樂</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class = "card">
                        {% load static %}
                        <img class = "personal_pic" src = "{% static 'file/name7_2.png'%}">
                        <div class = "card-bg"></div>
                        <div class = "card-detail"> <!--we could set the background color here-->
                            <p class = "personal-name">林雯琪</p><!-- we should wait till the designers to give us the font size of this-->
                            <p class = "description">工程師</p>
                            <div style = "display:none">
                                <br><br><br><br><br>
                                <p class = "description">技能：C++, Python</p>
                                <p class = "description">系所：電機系111</p>
                                <p class = "description">興趣：聽音樂, 打遊戲</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id = "gap3"></div>
        </div>

 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        {% load static %}
        <script src="{% static 'js/about_us.js' %}"></script>
    </body>
    
</html>
