input[type='button']:hover
  transform: scale(1.02)
input[type='button']:active
  transform: scale(0.98)

#eventwindow
  display: none
  position: fixed
  flex-direction: row
  flex-wrap: wrap
  align-content: flex-start
  justify-content: space-between
  align-items: flex-start
  
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%
  width: 41%
  min-width: 35rem
  max-width: 43rem
  padding: 2rem 2rem 1.5rem 2rem
  // background: linear-gradient(180deg,var(--border-color-eventwindow), #FFFFFF)
  border-radius: 3rem
  // border: 5px solid var(--border-color-eventwindow)
  box-shadow: 10px 10px 25px 5px var(--boxshadow-color)
  z-index: 7
  opacity: 0
  
    
  #eventwindow-left
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: flex-start
    width: 87%
    margin-left: 5px

    
    #description
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      align-content: flex-start
      justify-content: flex-start
      align-items: flex-start
      width: 98%
    
      #description-top
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-content: flex-start
        justify-content: space-between
        align-items: flex-start
        width: 100%
        margin-left: 0.5rem

        #eventwindow-bg
          //position: absolute
          top: 2rem
          left: 2.5rem
          height: 7.5rem
          width: 7.5rem
          z-index: -1
          opacity: 1
          border-radius: 0.7rem
            
          #eventpic
            height: 100%
            width: 100%
            border-radius: 0.7rem
            background-color: var(--background-color-eventwindow-board)
              
            img
              height: 100%
              width: 100%
              border-radius: 1rem
            p
              font-size: 1rem
              line-height: 7.5rem
              text-align: center

        #event-heading
          display: flex
          flex-direction: column
          width: 20vw
          min-width: calc(11 * 1.5rem)
          margin-left: 0.7rem
          #event-title
            font-size: 1.5rem
            border-radius: 0.7rem;
            //border: solid 2px var(--black-3);
            //padding-left: 0.5rem
          #event-subtitle
            font-size: 1rem
            color: var(--fontcolor-third)
            margin: 0 0 0 0.2rem
            border-radius: 0.5rem;
            //border: solid 2px var(--black-3);
            //padding-left: 0.5rem
          #event-require
            display: flex
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 0.2rem
            max-height: 7rem;
            overflow: auto;
            .requiretag
              background-color: white
              border-radius: 0.6rem
              padding: 0.1rem 0.5rem
              margin: 0 0.5rem 0.3rem 0
              font-size: 0.85rem
              text-align: center
        #date
          display: flex
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: center;
          #event-date
            font-size: 0.8rem
            color: var(--fontcolor-third)
            font-weight: 500
            margin-top: 0.7rem
            width: 100%
          #due-date
            font-size: 0.8rem
            color: var(--fontcolor-third)
            font-weight: 500
            margin-top: 0.7rem
            width: 100%
      
      #event-detail
        font-size: 0.95rem
        line-height: 1.35rem
        min-height: 5rem
        max-height: 14rem
        margin: 1rem 0 0 0.5rem
        width: calc(100% - 1rem)
        overflow: scroll
        overflow-x: hidden
        margin: 0.5rem
        padding: 0.5rem
        border-radius: 1rem
        background-color: rgba(256, 256, 256, 0.5)
    
    #eventmsgregion
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      align-content: center
      align-items: flex-start
      justify-content: flex-start
      box-shadow: inset 0px -1px 5px var(--boxshadow-color)
      
      width: 95%
      height: 15rem
      background-color: var(--background-color-eventwindow-board)
      border-radius: 1.5rem
      padding: 0.5rem
      margin-left: 0.5rem
      
      #msgtitle
        //position: absolute
        font-size: 1.3rem
        padding: 0 0 0.5rem 0.7rem
        font-weight: 700
        
      #eventmsg-board
        width: 100%
        overflow: scroll
        overflow-x: hidden
        
        .eventmsg:hover
          background-color: var(--background-color-input)
        .eventmsg
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          align-items: center
          width: 95%
          margin: 0 0 0.4rem 0
          border-radius: 0.5rem
          background-color: var(--background-color-input-hover)
          padding: 0.5rem
          
          a
            margin: 0
          
          .sender
            width: 2.5rem
            height: 2.5rem
            border-radius: 50%
            background-color: var(--background-color-input)
          
          #eventmsg-right
            display: flex
            flex-direction: column
            flex-wrap: nowrap
            justify-content: space-between
            align-items: flex-start
            width: 93%
            min-height: 2.5rem
            margin-left: 1rem
            
            
            #eventmsg-righttop
              display: flex
              flex-direction: row
              flex-wrap: nowrap
              align-content: center
              align-items: center
              justify-content: space-between
              width: 100%
              
              
              #eventmsg-sendername
                font-size: 0.9rem
                font-weight: 700
                color: var(--black-2)
              #event-date
                font-size: 0.7rem
                color: var(--fontcolor-second)
                text-align: right
                
            #eventmsgtext
              font-size: 0.85rem
              color: #595959
              font-weight: 400
        
    #eventmsg-sender
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      align-items: center
      justify-content: flex-start
      margin-left: 0.5rem
      width: 100%
      
      a
        display: none
        margin: 0
      
      #senderpic
        display: none
        width: 3rem
        height: 3rem
        border-radius: 50%
        background-color: var(--background-color-userpic)
        border: none
        margin-left: 1rem
        
      .comment-operate-region
        position: relative
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-content: center
        align-items: center
        justify-content: space-between
        margin: 1.2rem 0.7rem 0.3rem 0
        height: 1.5rem
        width: 100%
        
        .eventmsg-insert
          outline: none
          border: none
          width: 50%
          border-radius: 1rem 0 0 1rem
          background-color: var(--background-color-input)
          padding: 0.4rem 3rem 0.4rem 1rem
          font-size: 1.1rem
          cursor: text
          margin-right: 1.7rem
        
        input
          //position: absolute
          right: 0
          //transform: translateX(3.5rem)
          outline: none
          border: none
          border-radius: 3rem
          background-color: var(--border-color-eventwindow)
          padding: 0.5rem 1rem
          font-size: 1rem
          cursor: pointer
          
        .eventmsg-btn
          position: absolute
          left: 60%
          //transform: translateX(-1.4rem)
          outline: none
          border: none
          border-radius: 3rem
          background-color: var(--border-color-eventwindow)
          padding: 0.5rem 1rem
          font-size: 1rem
          cursor: pointer

        
      
  
  #eventwindow-right
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-content: center
    align-items: center
    justify-content: space-between
    width: 7%
    
    #eventoperate
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      align-content: center
      align-items: center
      justify-content: flex-start
      height: 30.5rem
      
      #exitbtn1
        //position: absolute
        //transform: translate(1.1rem, -3.7rem)
        width: 1.5rem
        height: 1.5rem
        cursor: pointer
      
      
      #organizer-pic
        width: 3rem
        height: 3rem
        border-radius: 50%
        border: solid 0.2rem var(--border-color-eventwindow)
        justify-content: flex-start
        background-color: var(--background-color-userpic)
      .member-hover
        display: none
        position: absolute
        transform: translate(3.7rem, -150%);
        font-size: 0.8rem
        white-space: nowrap
        padding: 0.2rem 0.3rem
        background-color: var(--ricewhite)
        border: solid 2px var(--blue)
        border-radius: 0.5rem
        z-index: 3
      #bar
        width: 2.5rem
        height: 0.15rem
        background-color: var(--black-4)
        border-radius: 0.1rem
        margin-bottom: 0.4rem
      
      #member
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        .member
          width: 3rem
          height: 3rem
          margin-bottom: 0.2rem
          border-radius: 50%
          background-color: #FFFFFF 
        .participant
          border: solid 0.1rem var(--border-color-participate)
        .interested
          border: solid 0.1rem var(--background-color-userpic)
          
        .member-btn:hover
          transform: scale(1.02)
        .member-btn:active
          transform: scale(0.97)
        .member-btn
          border: none
          background-color: var(--black-4)
          line-height: 3.2rem
          text-align: center
          cursor: pointer
      
        #like-m
          display: flex;
          align-items: center;
          flex-direction: column;
          #lt
            font-size: 0.85rem
            color: var(--black-2)
            margin-bottom: 0.1rem
        #part-m
          display: flex;
          align-items: center;
          flex-direction: column;
          #mt
            font-size: 0.85rem
            color: var(--black-2)
            margin-bottom: 0.1rem
 
      .login-redirect
        position: relative
        transform: translateY(4rem)
        height: 4rem
        width: 4rem
          
      #likebutton
        position: absolute
        bottom: 3%
        //background-image: url('../file/like-bg-n.png')
        background-repeat: no-repeat
        background-size: contain
        height: 3rem
        width: 3rem
        
        #likebtn-bg
          background-color: var(--background-color-userpic)
          
          

        button:hover
          position: relative
          transform: scale(1.02)
      
        button
          background: Transparent
          border: none
          height: 100%
          width: 100%
          cursor: pointer
      
        #like-y
          display: none
          //width: 70%

        #like-n
          display: block
          //width: 70%
  
  .eventsubwindow
    position: absolute
    display: none
    transform: translate(-50%, 0)
    //top: 65%
    bottom: 0
    left: 50%
    width: 100%
    min-width: 35rem
    //height: 75%
    height: 0
    background-color: var(--background-color-container)
    z-index: 1
    border-radius: 1rem 1rem 3rem 3rem
    box-shadow: 10px 10px 25px 5px var(--boxshadow-color)
    opacity: 0
    
    .exitbtn
      width: 1.5rem
      height: 1.5rem
      cursor: pointer
      position: absolute
      right: 1.5rem
      top: 1.5rem
      z-index: 1
      
    .eventcontainer
      display: flex
      flex-direction: column
      align-items: center
      flex-wrap: nowrap
      justify-content: space-around
      width: 100%
      height: 100%
      position: absolute
      left: 50%
      transform: translate(-50%, 0)
  
  #eventjoinwindow
    #exitbtn3
    .eventcontainer
      #eventjoinhead
        font-size: 1.7rem
        font-weight: 600
        font-color: var(--font-color-main)
        argin-bottom: 1rem
        margin-top: -1.5rem
      
      form
        display: flex
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 75%
        #requirement-pane
          background-color: var(--background-color-input)
          padding: 1rem
          margin-bottom: 1rem
          width: 100%
          border-radius: 1rem
          max-height: 7rem;
          overflow: auto;
          #requirement-text
            margin-bottom: 0.6rem
            font-size: 0.9rem
        #requirement-tags
          width: 100%
          display: flex
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
          align-items: center;
          .requirement-tag
            padding: 0.2rem 0.5rem
            border-radius: 0.5rem
            margin: 0 0.5rem 0.3rem 0
            cursor: pointer
        
        textarea
          outline: none
          border-radius: 1rem
          border: none
          background-color: var(--background-color-input)
          padding: 0.5rem
          width: 100%
          height: 3rem

      #eventjoinability
        border-radius: 1rem
        background-color: var(--background-color-input)
        margin-bottom: 0.7rem
        width: 100%
        height: 40%

      #eventjoinreason
        border-radius: 1rem
        background-color: var(--background-color-input)
        margin-bottom: 0.7rem
        width: 100%
        height: 6rem

      .btn
        border-radius: 3rem
        background-color: var(--border-color-eventwindow)
        cursor: pointer
        font-size: 1rem
        width: 5rem;
        height: 2.5rem;
        outline: none
        border: none
      .loadingbtn
        z-index: -1
      
  #eventcontrol
    .eventcontainer
      p
        font-size: 2rem
        font-weight: 600
      
      #member-control-list
        display: none
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;
        width: 85%
        height: 17rem
        border-radius: 1rem
        padding: 1rem 0.5rem;
      
        .member-profile
          display: flex
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          align-content: flex-start;
          justify-content: flex-start;
          width: 90%
          margin-bottom: 1rem
          padding: 0.5rem;
          border: solid var(--background-color-navbar) 0.15rem;
          border-radius: 0.8rem;
          box-shadow: 0.15rem 0.1rem 0.3rem 0.1rem var(--boxshadow-color)
          
          a
            #member-profile-left
              display: flex
              flex-direction: row
              flex-wrap: nowrap
              align-items: flex-start
              width: 11rem
              margin-right: 0.3rem;
              
              img
                width: 3.5rem
                height: 3.5rem
                border-radius: 50%
                border: solid 2px #DDDDDD
                margin-right: 0.5rem
              
              #member-detail
                #m-name
                  font-size: 0.9rem
                  font-weight: 700
                #m-grade
                  font-size: 0.8rem
                  font-weight: 500
                  color: var(--black-2)
                
          #member-profile-right
            display: flex
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            width: calc(100% - 11.5rem)
            p
              font-size: 0.8rem
              width: calc(99% - 4rem);
              text-indent: -4rem;
              margin-left: 4rem;
            .member-btn
              margin: 0.3rem 0 0.3rem 0
              height: 1.5rem
              font-size: 0.8rem
              padding: 0.05rem 0.6rem
              outline: none
              border: none
              border-radius: 2rem
            .accept-btn
              background-color: var(--background-color-tag2)
              margin-right: 0.3rem
            .accept-btn:hover
              background-color: var(--background-color-button-hover2)
            .reject-btn
              background-color: var(--background-color-button)
            .reject-btn:hover
              background-color: var(--background-color-button-hover)
      #control-btns
        display: flex
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        
        input
          border-radius: 3rem
          background-color: var(--border-color-eventwindow)
          cursor: pointer
          font-size: 1rem
          outline: none
          border: none
          margin: 0 1rem
          padding: 0.5rem 1rem
        
        #delete-btn
          background-color: var(--red)
        #end-btn
          background-color: var(--black-4);
  #eventlikes-window
    .eventcontainer
      p
        font-size: 2rem
        font-weight: 600
      #likeslist
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-content: flex-start
        justify-content: space-evenly
        height: 83%
        overflow-y: auto
        overflow-x: hidden
        border-radius: 0 0 3rem 3rem
        bottom: 0
        width: 97%
        
        #virtual-like
          width: calc((100% - 6 * 2 * 0.5rem) / 3 - 1.7rem + 2.3rem)
          height: 0
        
        .like-info:hover
          transform: scale(1.02)
        .like-info:active
          transform: scale(1)
        
        .like-info
          padding: 0.5rem
          margin: 0.5rem
          width: calc((100% - 6 * 2 * 0.5rem) / 3 - 1.7rem)
          min-height: 5.2rem
          padding: 0.5rem;
          border: solid var(--background-color-navbar) 0.15rem;
          border-radius: 0.8rem;
          box-shadow: 0.15rem 0.1rem 0.3rem 0.1rem var(--boxshadow-color)
          cursor: pointer
          a
            margin: 0
          .info-brief
            display: flex
            #info-brief-img
              width: 3rem
              height: 3rem
              border-radius: 50%
              margin-right: 0.6rem
              
            .info-brief-right
              #friend-name
                font-size: 0.9rem
              .info-brief-school
                p
                  font-size: 0.8rem;
                  font-weight: 500;
                  color: var(--black-3);
                #info-brief-department
                #info-brief-grade
                #info-brief-connectnum
          #info-brief-relation
          
        

#filter1
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  backdrop-filter: blur(5px) contrast(70%) saturate(70%) brightness(70%)
  -webkit-backdrop-filter: blur(5px) contrast(70%) saturate(70%) brightness(70%)
  z-index: 6
  opacity: 0


