//@font-face
  //font-family: jf-openhuninn
  //src: url('../fonts/jf-openhuninn-1.1.woff') format("woff")
  //font-display: auto

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');


*
  font-family: var(--font-family-text)
  padding: 0
  margin: 0
  
input, textarea, button, select, a
  -webkit-tap-highlight-color: rgba(255, 228 ,220, 0.5)

body
  background-color: var(--background-color)

//排除設定body的scroll bar，使用預設
  ::-webkit-scrollbar
    width: 4px
  ::-webkit-scrollbar-track
    background: transparent //#f1f1f1
    border-radius: 5px
  ::-webkit-scrollbar-thumb
    background: #CCC
    border-radius: 2px
  ::-webkit-scrollbar-thumb:hover
    background: #888

a
  text-decoration: none
  color: black

footer
  height: 5vh
  background-color: var(--background-color-navbar)
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  flex-wrap: nowrap
  //left: -50%
  padding-bottom: 1vh
  width: 100%
  p
    font-size: 1vw

#phoneerrormsg
  display: none
  position: fixed
  top: -20%
  height: 150%
  width: 100%
  
  //z-index: 10
  
  #errorlogo
  p
    position: absolute
    transform: translate(-50%, -50%)
    bottom: 25%
    left: 50%
    width: 80%
    text-align: center
    font-size: 1.8em
    
  #errorfilter
  backdrop-filter: blur(6px) contrast(80%) saturate(70%) brightness(65%)
  -webkit-backdrop-filter: blur(5px) contrast(70%) saturate(70%) brightness(70%)
  z-index: 6

#world
  position: fixed
  z-index: -1
  top: 0
  
#container
  display: flex
  justify-content: flex-start
  align-items: stretch
  flex-direction: column
  flex-wrap: nowrap
  align-content: space-around
  
  width: 70%
  min-height: 110vh
  top: 10%
  left: 50%
  bottom: 0%
  background:rgba(0,255,204,0)
  margin: 5rem auto 5rem auto

  #create
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    background-color: var(--background-color-container)
    //rgba(255, 219, 208, 1)
    border: solid 0.2rem var(--border-color-container)
    width: 100%
    height: 12%
    border-radius: 1.5rem
    margin-bottom: 15px
    padding: 1rem 0
    
    a
      //position: relative
      width: 6rem
      height: 6rem
      border-radius: 50%
    
    #userpic
      //position: absolute
      margin-left: 2%
      margin-right: 2%
      width: 6rem
      height: 6rem
      border-radius: 50%
      border: solid 0.2rem var(--border-color-userpic)
      background-color: var(--background-color-userpic)

    #inserta
      position: absolute
      transform: translate(3rem, 0)
      width: 48rem
      height: 3.5rem

    #insertbox:hover
      color: #888888 //var(--fontcolor-placeholder-hover)

    #insertbox
      display: flex
      flex-direction: row
      align-items: center
      margin-right: 4%
      height: 3.5rem
      width: 48vw
      border-radius: 1.2rem
      background-color: var(--background-color-inut)
      cursor: pointer
      border: none
      text-align: left
      padding-left: 1.5rem
      font-size: 1.5rem
      color: var(--fontcolor-placeholder)
    
    #insertbar
      position: relative
      font-size: 1.7rem
      padding-bottom: 0.25rem
      color: #999999
  

  #board
    display: flex
    flex-direction: column
    justify-content: flex-start
    flex-wrap: nowrap
    align-content: center
    align-items: stretch
    background-color: var(--background-color-container)
    //rgba(255, 219, 208, 1)
    border: solid 0.2rem var(--border-color-container)
    width: 100%
    
    border-radius: 1.5rem
    z-index: 0
    #divider
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      margin: 1.5rem 1rem 0.5rem 1rem
      background-color: transition
      
      p
        margin-right: 0
        font-size: 1.2rem
      
      .line
        //background-color: rgba(255, 219, 208, 1)
        align: center
        height: 0.2rem
        //margin: 0 1rem
        border: none
      //#line1
        //width: 55%
      #line2
        width: 7.5%
      
      form
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        margin-left: 0.5rem
        
      #category
        width: 5rem
      #sort
        width: 8rem
        
      select
        font-size: 1rem
        border-radius: 1rem
        padding: 0.1rem 0.7rem
        outline: none
        margin: 0 0.5rem
        
    #eventboard
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-content: center
      justify-content: space-around
      align-items: flex-start
      margin: 0 3rem
      margin-bottom: 7rem
      a
        margin: 1.45rem
      .eventpost:hover
        position: relative
        transform: scale(1.005)
        box-shadow: 0.3rem 0.15rem 0.5rem 0.2rem var(--boxshadow-color)
      .eventpost
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        align-content: center
        justify-content: flex-start
        align-items: center
        cursor: pointer
               
        width: 13rem
        background-color: var(--background-color-container)
        //margin: 1rem
        padding: 0.5rem 1.5rem 0.5rem 1.5rem
        border-radius: 1.5rem
        box-shadow: 0.3rem 0.15rem 0.4rem 0.1rem var(--boxshadow-color)

        *
          margin: 0
        p
          //margin-bottom: 0.3rem
        
        .posttop
          transform: translate(0, calc(-0.5rem - 1px))
          width: 100%
          padding: 0.7rem 1.5rem 0.3rem 1.5rem
          border-radius: 1.5rem 1.5rem 0 0
          background-color: var(--background-color-card)
          height: 5.65rem
          
          
          #postimgs
            height: 2.5rem
            width: 2.5rem
            border-radius: 0.5rem
            border: solid 1px
            border-color: var(--border-color-userpic)
            background-color: var(--background-color-userpic)
            
          #post_title
            font-size: 1.2rem
            font-weight: 500
            width: 12.5rem
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            margin-bottom: -0.2rem
            
          #post_subtitle
            font-size: 0.9rem
            width: 10rem
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            font-weight: 300
            margin-bottom: 0.2rem
            
          #postcreatdate
            font-size: 0.8rem
            color: var(--fontcolor-second)
            text-align: right
        
            
        .postbottom
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          justify-content: center
          align-items: center
          width: 100%
          padding: 0
          
          *
            margin: 0 1rem
          img
            margin-right: 0
            
          p
            line-height: 1.5rem
            font-size: 1rem
          
          #likeicon
            height: 1.5rem
            width: auto
            
          #commenticon
            height: 1.5rem
            width: auto
      #virtualdiv
        height: 0
        width: calc(16rem + 2.9rem)
        //margin: 0 4rem
        .eventpost
          box-shadow: none
        *
          background: none
          
      
#gotop
  display: none
  position: fixed
  border-radius: 50%
  right: 3rem
  bottom: 5rem
  width: 4rem
  height: 4rem
  //font-size: 3rem
  //background: rgba(250, 173, 149, 1)
  //color: rgba(0, 0, 0, 1)
  cursor: pointer
  z-index: 5
  text-align: center

//#gotop:hover
  //opacity: 0.65
  //background-color: #ffdbd0
  
  
#filter1
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  backdrop-filter: blur(5px) contrast(70%) saturate(70%) brightness(70%)
  -webkit-backdrop-filter: blur(5px) contrast(70%) saturate(70%) brightness(70%)
  z-index: 6
  opacity: 0

#eventwindow
  display: none
  position: fixed
  flex-direction: row
  flex-wrap: wrap
  align-content: flex-start
  justify-content: space-between
  align-items: flex-start
  
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%
  width: 41%
  min-width: 35rem
  padding: 2rem 2rem 1.5rem 2rem
  background: linear-gradient(180deg,var(--border-color-eventwindow), #FFFFFF)
  border-radius: 3rem
  border: 5px solid var(--border-color-eventwindow)
  box-shadow: 10px 10px 25px 5px var(--boxshadow-color)
  z-index: 7
  opacity: 0
  
    
  #eventwindow-left
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: flex-start
    width: 87%
    margin-left: 5px

    
    #description
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      align-content: flex-start
      justify-content: flex-start
      align-items: flex-start
      width: 98%
    
      #description-top
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-content: flex-start
        justify-content: space-between
        align-items: flex-start
        width: 100%
        margin-left: 0.5rem

        #eventwindow-bg
          //position: absolute
          top: 2rem
          left: 2.5rem
          height: 7.5rem
          width: 7.5rem
          z-index: -1
          opacity: 1
          border-radius: 0.7rem
            
          #eventpic
            height: 100%
            width: 100%
            border-radius: 0.7rem
            background-color: var(--background-color-eventwindow-board)
              
            img
              height: 100%
              width: 100%
              border-radius: 1rem
            p
              font-size: 1rem
              line-height: 8rem
              text-align: center

        #event-heading 
          display: flex
          flex-direction: column
          width: calc(10 * 1.8rem)
          margin-left: 0.7rem
          #event-title
            font-size: 1.8rem
            //width: 50rem
          #event-subtitle
            font-size: 1rem
            color: var(--fontcolor-second)
            //margin: 0.3rem 0 0 9rem                  

        #event-date
          font-size: 0.8rem
          color: var(--fontcolor-second)
          font-weight: 500
          margin-top: 0.7rem
      
      #event-detail
        font-size: 1.1rem
        line-height: 1.5rem
        min-height: 5rem
        max-height: 14rem
        margin: 1rem 0 0 0.5rem
        min-width: 100%
        overflow: scroll
        overflow-x: hidden        
    
    #eventmsgregion
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      align-content: center
      align-items: flex-start
      justify-content: flex-start
      box-shadow: inset 0px -1px 5px var(--boxshadow-color)
      
      width: 98%
      max-height: 15rem
      min-height: 10rem
      background-color: var(--background-color-eventwindow-board)
      border-radius: 1.5rem
      padding: 0.5rem
      margin: 0.5rem 0 0 0
      
      #msgtitle
        //position: absolute
        font-size: 1.3rem
        padding: 0 0 0.5rem 0.7rem
        font-weight: 700
        
      #eventmsg-board
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        align-content: center
        justify-content: flex-start
        align-items: flex-start
        width: 100%
        
        overflow: scroll
        overflow-x: hidden
        
        .eventmsg:hover
          background-color: var(--background-color-inut)
        .eventmsg
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          align-items: center
          width: 95%
          margin: 0 0 0.4rem 0
          border-radius: 0.5rem
          background-color: var(--background-color-input-hover)
          padding: 0.5rem
          
          a
            margin: 0
          
          .sender
            width: 2.5rem
            height: 2.5rem
            border-radius: 50%
            background-color: var(--background-color-inut)
          
          #eventmsg-right
            display: flex
            flex-direction: column
            flex-wrap: nowrap
            justify-content: space-between
            align-items: flex-start
            width: 93%
            min-height: 2.5rem
            margin-left: 1rem
            
            
            #eventmsg-righttop
              display: flex
              flex-direction: row
              flex-wrap: nowrap
              align-content: center
              align-items: center
              justify-content: space-between
              width: 100%
              
              
              #eventmsg-sendername
                font-size: 1.05rem
                width: 4rem
                font-weight: 900
              #event-date
                font-size: 0.7rem
                width: 15rem
                color: var(--fontcolor-second)
                text-align: right
                
            #eventmsgtext
              font-size: 0.9rem
              color: #595959
        
    #eventmsg-sender
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      align-items: center
      justify-content: flex-start
      margin-left: 0.5rem
      width: 100%
      
      a
        display: none
        margin: 0
      
      #senderpic
        display: none
        width: 3rem
        height: 3rem
        border-radius: 50%
        background-color: var(--background-color-userpic)
        border: none
        margin-left: 1rem
        
      .comment-operate-region
        position: relative
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-content: center
        align-items: center
        justify-content: space-between
        margin: 1.2rem 0.7rem 0.3rem 0
        height: 1.5rem
        width: 100%
        
        .eventmsg-insert
          outline: none
          border: none
          width: 60%
          border-radius: 1rem 0 0 1rem
          background-color: var(--background-color-inut)
          padding: 0.4rem 1.3rem 0.4rem 1rem
          font-size: 1.1rem
        
        .eventmsg-btn
          //position: absolute
          //right: 0
          transform: translateX(-1.5rem)
          outline: none
          border: none
          border-radius: 3rem
          background-color: var(--border-color-eventwindow)
          padding: 0.5rem 1rem
          font-size: 1rem
          cursor: pointer

        .eventjoin-btn
          //position: absolute
          right: 0
          //transform: translateX(3.5rem)
          outline: none
          border: none
          border-radius: 3rem
          background-color: var(--border-color-eventwindow)
          padding: 0.5rem 1rem
          font-size: 1rem
          cursor: pointer
      
  
  #eventwindow-right
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-content: center
    align-items: center
    justify-content: space-between
    width: 7%
    
    #eventoperate
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      align-content: center
      align-items: center
      justify-content: flex-start
      
      #exitbtn1
        //position: absolute
        //transform: translate(1.1rem, -3.7rem)
        width: 1.5rem
        height: 1.5rem
        cursor: pointer
      
      
      #organizer-pic
        width: 3rem
        height: 3rem
        margin-bottom: 0.4rem
        border-radius: 50%
        border: solid 0.2rem var(--border-color-eventwindow)
        flex-start
        background-color: var(--background-color-userpic)
      #bar
        width: 2.5rem
        height: 0.2rem
        background-color: #AAAAAA
        border-radius: 0.1rem
        margin-bottom: 0.4rem
      
      #member
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: flex-start
        align-items: center
        height: 16rem
        overflow: hidden
        
        .member
          width: 3rem
          height: 3rem
          margin-bottom: 0.2rem
          border-radius: 50%
          background-color: #FFFFFF
        .participant
          border: solid 0.15rem var(--border-color-participate)
        .interested
          border: solid 0.15rem var(--background-color-userpic)
          
        
      .login-redirect
        position: relative
        transform: translateY(4rem)
        height: 4rem
        width: 4rem
          
      #likebutton
        position: absolute
        bottom: 3%
        //background-image: url('../file/like-bg-n.png')
        background-repeat: no-repeat
        background-size: contain
        height: 3rem
        width: 3rem
        
        #likebtn-bg
          background-color: var(--background-color-userpic)
          
          

        button:hover
          position: relative
          transform: scale(1.02)
      
        button
          background: Transparent
          border: none
          height: 100%
          width: 100%
          cursor: pointer
      
        #like-y
          display: none
          //width: 70%

        #like-n
          display: block
          //width: 70%

#comment-window
  position: fixed
  display: flex
  flex-direction: column
  transform: translate(-50%, -50%)
  top: 55%
  left: 50%
  width: 40%
  padding: 3% 0
  background-color: var(--background-color-eventwindow-board)
  border-radius: 3rem
  border: 0.2rem solid var(--background-color-eventwindow)
  box-shadow: 10px 10px 25px 5px var(--boxshadow-color)
  opacity: 0
  z-index: 8
      
  #exitbtn2
    position: absolute
    transform: translate(-50%, 0)
    top: 1.5rem
    right: 1rem
    width: 1.5rem
    height: auto
  p
    margin-left: 1.5rem
    font-size: 1.1rem
    font-weight: 700
  .comment-div
    display: flex
    margin: 1rem
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    p
      font-size: 1rem
      font-weight: 500
    input
      width: 70%
      height: 1rem
      border-radius: 1vw
      padding: 0.5rem 1rem 
      background-color: var(--background-color-filiter)
      border: none
      outline: none
      margin-left: 1rem
  #first-comment
    margin-top: 2.5rem
  input[type=button]
    width: 15%
    margin: 2.5rem auto 0 auto
    border-radius: 1vw
    outline: none
    border: none
    padding: 0.5rem 0
    background-color: #32DEB5

#eventcreatewindow
  position: fixed
  transform: translate(-50%, -50%)
  top: 55%
  left: 50%
  width: 40%
  padding: 3% 0
  background-color: var(--background-color-container)
  border-radius: 3rem
  border: 0.2rem solid var(--border-color-eventwindow)
  box-shadow: 10px 10px 25px 5px var(--boxshadow-color)
  opacity: 0
  z-index: 7
      
  #exitbtn2
    position: absolute
    transform: translate(-50%, 0)
    top: 1.5rem
    right: 1rem
    width: 1.5rem
    height: auto
    
  #profile
    display: flex
    margin: 1rem 0
    margin: 0 0 1rem 0
        
    #user-img
      height: 5rem
      width: 5rem
      border-radius: 2.5rem
      border: solid 2px
      border-color: #CCCCCC
      //#3AEDC2
      background-color: 
      
    h1
      align-items: center
      font-size: 2.5rem
      line-height: 5rem
      //transform: translate(0, -50%)
      margin-left: 1rem
  
  form 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-items: stetch
    padding: 0 2rem 2rem 2rem
    //padding-left: 3rem
    //padding-right: 3rem
    //padding-bottom: 3rem
    label
      display: none
    span
      display: none
    br
      display: none
    li
      display: none
    
    input[type=text]
      border-radius: 2.5rem
      margin-bottom: 0.7rem
      height: 2rem
      width: 100%
      font-size: 1rem
      padding: 0 1rem
      outline: none
      border: none
      background-color: var(--background-color-inut)
    input[type=text]:focus
      border: 2px solid var(--border-color-input-focus)
    input#id_event_date, input#id_due_date
      border-radius: 2.5rem
      margin-bottom: 0.7rem
      height: 2rem
      width: 10rem
      font-size: 1rem
      padding: 0 1rem
      outline: none
      border: none
      background-color: var(--background-color-inut)
      color: var(--fontcolor-placeholder)
      padding-left: 1.8rem
      margin-right: 0.7rem
    input[type=date]:focus
      border: 2px solid var(--border-color-input-focus)
    input[type=number]
      border-radius: 2.5rem
      margin-bottom: 0.7rem
      height: 2rem
      width: 5rem
      font-size: 1rem
      padding: 0 1rem
      outline: none
      border: none
      background-color: var(--background-color-inut)
      color: var(--fontcolor-placeholder)
      padding-left: 1rem
      margin-right: 0.7rem
    input[type=number]:focus
      border: 2px solid var(--border-color-input-focus)
    textarea
      border-radius: 1rem
      background-color: var(--background-color-input)
      border-radius: 1rem
      margin-bottom: 0.7rem
      padding: 1rem 1rem
      outline: none
      border: none
      font-size: 1rem
      height: 8rem
      width: 100%
    textarea:focus
      border: 2px solid var(--border-color-input-focus)
    
    select
      background-color: var(--background-color-input)
      color: var(--fontcolor-placeholder)
      height: 2rem
      font-size: 1rem
      border-radius: 1rem
      outline: none
      border: none
      margin-bottom: 1rem
      padding: 0 1rem
      
    input[type=file]
      color: #AAA
      font-size: 1rem
      margin-left: 1rem
    
    #id_title
      height: 2.5rem
      
  .input-area
    width: 70%
    word-break: normal
    border-radius: 2rem
    margin: 0.5rem 0 0 3.5rem
    padding: 0.7rem 0 0 1rem
    outline: none
  
      
  #buttons
    position: absolute
    transform: translate(-50%, 0)
    height: 5rem
    width: 5rem
    left: 50%
    right: 3.2rem
    bottom: 1.5rem
    #submit-btn
      width: 100%
      background: none
      height: auto
      font-size: 1.5rem
      background-color: var(--background-color-button)
      border-radius: 2rem
      padding: 0.2rem 0rem
      text-align: center
      margin-top: 2.5rem
      border: solid 2px var(--background-color-button)
    #submit-btn:hover
      background-color: var(--background-color-button-hover)

#filter1
  display: none
#eventwindow
  display: none
#eventcreatewindow
  display: none


//phone responsive
@media only screen and (max-width: 450px)
  
  #phoneerrormsg
    display: block
