@font-face
  font-family: jf-openhuninn
  src: url('../fonts/jf-openhuninn-1.1.woff') format("woff")

  font-display: auto

\:root
  --background-color: #FFFFFF
  --background-color-card: #E8E8E8
  --fontcolor-navbarbutton: #000000
  --fontcolor-header: #000000
  --fontcolor-text: #000000
  --color-main: #FAAD95
  --font-family-header: "jf-openhuninn", "Tahoma", "Arial"
  --font-style-header: normal
  --font-family-text: "jf-openhuninn", "Tahoma", "Arial"
  --font-style-text: normal
  --font-family-card: "jf-openhuninn", "Tahoma", "Arial"

*
  font-family: var(--font-family-text)
  padding: 0
  margin: 0

body
  background-color:#FAAD95
  width: 100%
  height: 100%

//<<<<<<< HEAD
.container

#gotop 
  position: fixed;
  border-radius: 50px;
  right: 20px;
  bottom: 30px;
  padding: 10px 16px;
  font-size: 25px;
  background: rgba(228, 211, 211, 0.36);
  color: #FAFCFD;
  cursor: pointer;
  z-index: 1000;


#eventwindow
  position: fixed
  transform: translate(-50%, -50%)
  top: 55%
  left: 50%
  width: 60%
  padding-top: 40%
  background-color: #F5FBFE
  border-radius: 5vw
  border: 5px solid rgba(58, 237, 194, 0.5)
  box-shadow: 10px 10px 25px 5px #00000026
  z-index: 2
  
  *
    font-color: #000000
  
  #description
    position: absolute
    left: 5.5vw
    top: 5.5vw
    height: 65%
    width: 60%
    
    h1
      font-size: 3.5vw
      color: #000000
          
    #keywords
      display: flex
      flex-direction: row
      margin: 1vw 0 0 0
      *
        font-size: 1.5vw
        color: purple
        
    #detail
      font-size: 1.5vw
      color: #000000
      margin: 2.5vw 0 0 0
      line-height: 1.5em

  #member
    position: absolute
    transform: translate(0, -100%)
    display: flex
    flex-direction: row
    bottom: -1.5vw
    width: 70%
    height: 5vw
    left: 5vw
    
    *
      position: relative
      margin: 0 0.5vw 0 0.5vw
      
    #bar
      width: 5px
      height: 3vw
      transform: translate(0, -50%)
      top: 50%
      background-color: #B0B0B0
      
    .member
      height: 5vw
      width: 5vw
      border-radius: 2.5vw
      background-color: #FFC3B0

    #organizer
      
    #member1
    #member2
    #member3
    #member4
    #member5
      
      
  #operatebg
    background-color: rgba(58, 237, 194, 0.5)
    position: absolute
    right: -2px
    bottom: -2px
    width: 32%
    height: 20%
    border-radius: 5vw 0 5vw 0
  
  #eventoperate
    position: absolute
    transform: translate(0, -50%)
    height: 100%
    width: 20%
    top: 50%
    right: 3vw
    *
      position: absolute

    #flag
      transform: translate(-50%, 0)
      top: 0
      left: 50%
      
    #date
      transform: translate(-50%, -50%)
      top: 15%
      left: 50%
      opacity: 0.8
      font-size: 2vw

    #organizerpic
      transform: translate(-50%, -50%)
      height: 8vw
      width: 8vw
      top: 12.5vw
      left: 50%
      border-radius: 4vw
      background-color: green
      
    p
      transform: translate(-50%, -50%)
      top: 18vw
      left: 50%
      font-size: 2vw
    
    #likebutton
      left: 0
      bottom: 1vw
      height: 5vw
      width: 5vw
      background-color: red
      
      #like-y
        //{% load static %}
        //background: url()

      #like-n
        //{% load static %}
        //background: url()
    
    #applybutton
      right: 0
      bottom: 1vw
      height: 5vw
      width: 5vw
      background-color: green

      #apply-y
        //{% load static %}
        //background: url()
      #apply-n
        //{% load static %}
        //background: url()

  #sent
    position: absolute
    //transform: translate(-50%, -50%)
    display: block
    top: -6px
    left: -6px
    right: -6px
    bottom: -6px
    width: auto
    height: auto
    overflow: hidden
    border-radius: 5vw
    opacity: 0
    z-index: -1
    backdrop-filter: blur(5px) contrast(40%) saturate(40%) brightness(70%)
    -webkit-backdrop-filter: blur(5px) contrast(40%) saturate(40%) brightness(70%)

    #mailicon
      position: absolute
      transform: translate(-50%, -100%)
      height: 40%
      width: auto
      top: 65%
      left: 50%
    
    p
      position: absolute
      transform: translate(-50%, 0)
      font-size: 4vw
      text-align: center
      bottom: 20%
      left: 50%
      width: 100%
      opacity: 1
      color: white

//>>>>>>> 624262fa0fa70d15c8079445b5ad13cd4ca108c8
