body
  background-color:#FAAD95
  width: 100%
  height: 100%

#panel1
  display: flex
  flex-direction: row
  position: absolute
  top:  50%
  left: 75%
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  margin-top: 3%

#background-element
  span
    border-radius: 50%
    display: block
.grey-bubble
  position: absolute
  background-color: #DEDEDE
#grey-bubble1
  height: 30vh
  width:  30vh
  top:    28%
  left:   18%
  z-index: -2
#grey-bubble2
  height: 10vh
  width:  10vh
  top:    65%
  left:   39%
  z-index: 2
#grey-bubble3
  height: 8vh
  width:  8vh
  top:    30%
  left:   40%
  z-index: 3
#grey-bubble4
  height: 5vh
  width:  5vh
  top:    80%
  left:   20%
  z-index: 3

#white-bubble1
  height: 50vh
  width:  50vh
  top:    30%
  left:   20%
  position: absolute
  z-index: -1
  background-color: #FFFFFF
  display: block

#introduction
  position: absolute
  z-index: 1
  top:    43%
  left:   24%
  text-align: center



#login-panel
  background-color: #FFCFBF
  border: 2px solid #FFFFFF
  box-shadow: 5px 10px 25px 0px #00000026
  border-radius: 3vh
  display: flex
  flex-direction: column
  align-items: stretch
  padding: 6vh
  z-index: 10


  h1
    text-align: center
    font-size: 3vw
  .input-area
    border-radius: 3vh
    height: 3vw
    font-size: 1.3vw
    outline: none
  .input-description
    margin: 1.5vw 0 0.5vw 0
  .buttons
    display: flex
    flex-direction: row
    margin-left: 5vw
    outline: none
    input
      //outline: none
      margin: 0 1vw 0 0 
      padding: 5%
      background-color: #3AEDC2
      border: none
      border-radius: 1.5vh
      height: 5vh
    p
      margin: 0 1vw 0 0
      text-align: center
      font-size: 1.5vw

      #sign-up
        margin-right: 0
  
  hr
    margin: 0



