@font-face {
  font-family: jf-openhuninn;
  src: url("../fonts/jf-openhuninn-1.1.woff") format("woff");
  font-display: auto; }

:root {
  --background-color: #FFFFFF;
  --background-color-card: #E8E8E8;
  --fontcolor-navbarbutton: #000000;
  --fontcolor-header: #000000;
  --fontcolor-text: #000000;
  --color-main: #FAAD95;
  --font-family-header: "jf-openhuninn", "Tahoma", "Arial";
  --font-style-header: normal;
  --font-family-text: "jf-openhuninn", "Tahoma", "Arial";
  --font-style-text: normal;
  --font-family-card: "jf-openhuninn", "Tahoma", "Arial";
  --font-style-card: normal; }

* {
  font-family: var(--font-family-text); }

body {
  background-color: #FAAD95;
  width: 100%;
  height: 100%; }

#panel1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 3%; }

#bubbles {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 54%;
  width: 50%;
  height: 50px; }

#background-element span {
  border-radius: 50%;
  display: block; }

.grey-bubble {
  position: absolute;
  background-color: #DEDEDE; }

.bbox {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%; }

#gb1 {
  transform: translate(-50%, -50%) rotate(0.12turn);
  z-index: -2; }

#grey-bubble1 {
  height: 15vw;
  width: 15vw;
  position: absolute;
  transform: translate(-105%, -50%);
  top: 50%;
  left: 50%; }

#gb2 {
  transform: translate(-50%, -50%) rotate(0.13turn);
  z-index: 2; }

#grey-bubble2 {
  height: 5vw;
  width: 5vw;
  position: absolute;
  transform: translate(200%, -50%);
  top: 50%;
  left: 50%; }

#gb3 {
  transform: translate(-50%, -50%) rotate(0.86turn);
  z-index: 3; }

#grey-bubble3 {
  height: 4vw;
  width: 4vw;
  position: absolute;
  transform: translate(285%, -50%);
  top: 50%;
  left: 50%; }

#gb4 {
  transform: translate(-50%, -50%) rotate(0.33turn);
  z-index: 4; }

#grey-bubble4 {
  height: 2.5vw;
  width: 2.5vw;
  position: absolute;
  transform: translate(600%, -50%);
  top: 50%;
  left: 50%; }

#wb1 {
  transform: translate(-50%, -50%) rotate(0.12turn);
  z-index: -1; }

#white-bubble1 {
  height: 25vw;
  width: 25vw;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  display: block; }

#introduction {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50%;
  left: 30%;
  text-align: center; }
  #introduction h1 {
    font-size: 3vw; }
  #introduction p {
    font-size: 1.3vw; }

#login-panel {
  background-color: #FFCFBF;
  border: 2px solid #FFFFFF;
  box-shadow: 5px 10px 25px 0px #00000026;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 6vh;
  z-index: 10;
  width: 45%; }
  #login-panel h1 {
    text-align: center;
    font-size: 3vw; }
  #login-panel .input-area {
    border-radius: 3vh;
    height: 3vw;
    font-size: 1.3vw;
    outline: none;
    text-indent: 1em;
    padding-bottom: 0; }
  #login-panel .input-description {
    margin: 1.5vw 0 0.5vw 0;
    font-size: 1.3vw; }
  #login-panel #forgot {
    font-size: 1vw;
    text-align: right;
    margin-top: 0; }
  #login-panel #forgot:hover {
    cursor: pointer;
    text-decoration: underline; }
  #login-panel .buttons {
    display: flex;
    flex-direction: row;
    margin: 10% 0 0 6vw;
    font-size: 1vw;
    outline: none; }
    #login-panel .buttons input {
      margin: 0 1vw 0 0;
      padding: 8%;
      background-color: #3AEDC2;
      border: none;
      border-radius: 1.5vh;
      height: 3vh;
      width: 3vw;
      font-size: 1vw;
      outline: none; }
    #login-panel .buttons input:hover {
      cursor: pointer; }
    #login-panel .buttons p {
      margin: 0 5% 0 0;
      text-align: center;
      padding-top: 8%; }
    #login-panel .buttons #sign-up {
      margin: auto 0; }
    #login-panel .buttons #sign-up:hover {
      cursor: pointer;
      text-decoration: underline; }
  #login-panel hr {
    margin: 0; }

/*# sourceMappingURL=login.css.map */