\:root
  --background-color: #FFF6ED
  --background-color-card: #E8E8E8
  --background-color-field: #F2F2F2
  --fontcolor-navbarbutton: #000000
  --fontcolor-header: #000000
  --fontcolor-text: #000000
  --color-main: #FAAD95
  
*
  font-family: var(--font-family-text)
  padding: 0
  margin: 0

body
  background-color: #FFF6ED
  width: 100%
  height: 100%

::placeholder
  color: #FFCFBF
  opacity: 1

#background-element
    
  #login-leftpic
    width: 45rem
    repeate: no-repeat
    position: absolute
    transform: translate(-50%, -50%)
    top: 58%
    left: 30%
    z-index: -1

#bubbles
  position: fixed
  transform: translate(-50%, -50%)
  left: 32%
  top: 54%
  width: 200px
  height: 200px

#world
  position: fixed
  z-index: -1
  top: 0


.grey-bubble
  position: absolute
  background-color: #DEDEDE

.bbox
  height: 50px
  width: 50px
  position: absolute
  left: 50%
  top: 50%

#gb1
  transform: translate(-50%, -50%) rotate(0.12turn)
  z-index: -2
#grey-bubble1
  height: 15rem
  width:  15rem
  position: absolute
  transform: translate(-105%, -50%)
  top:    50%
  left:   50%

#gb2
  transform: translate(-50%, -50%) rotate(0.13turn)
  z-index: 2
#grey-bubble2
  height: 5rem
  width:  5rem
  position: absolute
  transform: translate(200%, -50%)
  top:    50%
  left:   50%

#gb3
  transform: translate(-50%, -50%) rotate(0.86turn)
  z-index: 3
#grey-bubble3
  height: 4rem
  width:  4rem
  position: absolute
  transform: translate(285%, -50%)
  top:    50%
  left:   50%

#gb4
  transform: translate(-50%, -50%) rotate(0.33turn)
  z-index: 4
#grey-bubble4
  height: 2.5rem
  width:  2.5rem
  position: absolute
  transform: translate(600%, -50%)
  top:    50%
  left:   50%

#wb1
  transform: translate(-50%, -50%) rotate(0.12turn)
  z-index: -1
#white-bubble1
  height: 25rem
  width:  25rem
  top:    50%
  left:   50%
  position: absolute
  transform: translate(-50%, -50%)
  background-color: #FFFFFF
  display: block

.description-head
  position: absolute
  transform: translate(-50%, -50%)
  top: 33%
  left: 23%
  z-index: 1
  h1
    font-size: 2.5rem
    text-align: left
    //width: 20rem
    //margin-bottom: 1rem

.description
  font-size: 0.9rem
  margin-top: 1rem
  position: absolute
  transform: translate(-50%, -50%)
  z-index: 1
  top: 65%
  left: 46%
  text-align: left
  width: 15rem
  p
    margin-bottom: 0.2rem
    font-weight: 500

#panel1
  display: flex
  flex-direction: row
  flex-wrap: wrap
  position: fixed
  top:  50%
  right: 3%
  transform: translate(-50%, -50%)
  width: 18rem
  

//#login-panel
.panel
  background-color: white
  border: 0.2rem solid #FFC5B2
  box-shadow: 5px 10px 25px 0px #00000026
  border-radius: 3vh
  display: flex
  flex-direction: column
  align-items: stretch
  padding: 1rem
  z-index: 10
  width: 100%

  h1
    text-align: center
    font-size: 2rem
    margin: 0rem 0 1rem 0
  hr
    height: 0rem
    border: #FFC5B2 solid 0.1rem
    background-color: #FFC5B2

  form 
    display: flex
    flex-direction: column
    align-items: stretch

  .input-area
    border-radius: 3vh
    height: 2.5rem
    font-size: 1rem
    outline: none
    text-indent: 1em
    //padding: 5px 0px 5px 0px
    border: 0.15rem solid #FFC5B2
  .input-description
    margin: 1rem 0 0.2rem 0
    font-size: 1rem

  #forgot
    font-size:  0.7rem
    text-align: right
    margin-top: 0.2rem
    padding-right: 0.5rem
  #forgot:hover
    cursor: pointer
    text-decoration: underline

  .buttons
    //display: flex
    //flex-direction: row
    position: relative
    margin: 7% 0 10% 0
    outline: none
    height: 5rem

    input
      //outline: none
      position: absolute
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%
      //margin: 0 1rem 0 50%
      padding: 0.2rem 0.8rem
      background-color: #3AEDC2
      border: none
      border-radius: 3vh
      height: auto
      width: auto
      outline: none 
      font-size:  1.3rem
      text-align: center
    input:hover
      cursor: pointer

    p
      position: absolute
      transform: translate(-50%, -50%)
      top: 50%
      right: 18%
      //margin: 0 5% 0 0
      text-align: center 
      //padding-top: 8%
      font-size:  0.8rem

    #sign-up
      //margin: auto 0
      font-size:  1rem
      position: absolute
      transform: translate(0, -50%)
      top: 50%
      right: 7%
      color: #2ADDB2
      //#3AEDC2

    #sign-up:hover
      cursor: pointer
      text-decoration: underline
  
  hr
    margin: 0

//*******************************************
#sign-up-panel
  background-color: white
  border: 0.2rem solid #FFC5B2
  box-shadow: 5px 10px 25px 0px #00000026
  border-radius: 3vh
  display: flex
  flex-direction: column
  align-items: stretch
  padding: 2rem
  z-index: 10
  width: 100%

  h1
    text-align: center
    font-size: 3rem
    margin: 1rem 0 1rem 0
  hr
    border-top: #FFC5B2 solid 0.15rem
    margin-bottom: 1rem

  form
    display: flex
    flex-direction: column
    align-items: stretch
    
    #email-pane
      input#email
        width: 65%
      input[type=button]
        height: 2rem
        border-radius: 1vh
        outline: none
        border: none
        padding: 1% 2%
        font-size: 0.8rem
        background-color: #3AEDC2

  .input-area
    border-radius: 2vh
    height: 2rem
    //font-size: 1.3rem
    outline: none
    text-indent: 1em
    padding: 5px 0px 5px 0px
    border: 0.15rem solid #FFC5B2
    margin: 0.5rem 0.5rem 0
  
  .err-msg
    font-size: 1.2rem
    text-align: center
    color: #FF7575
    margin-top: 0.5rem
        
  #term-div
    display: flex
    flex-direction: row
    align-items: center
    flex-wrap: nowrap
    label
      margin-top: 0.7rem
      margin-left: 0.8rem
      font-size: 0.8rem
    input
      margin-top: 0.7rem
      margin-left: 0.8rem
  .buttons
    //display: flex
    //flex-direction: row
    position: relative
    margin: 5% 0 3% 0
    outline: none
    height: 5rem

    input
      //outline: none
      position: absolute
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%
      //margin: 0 1rem 0 50%
      padding: 5% 10% 5% 10%
      background-color: #3AEDC2
      border: none
      border-radius: 3vh
      height: auto
      width: auto
      outline: none
      font-size:  1.7rem

    p
      position: absolute
      transform: translate(-50%, -60%)
      top: 50%
      right: 18%
      //margin: 0 5% 0 0
      text-align: center
      //padding-top: 8%
      font-size:  1rem

    #login
      //margin: auto 0
      font-size:  1.2rem
      position: absolute
      transform: translate(0, -50%)
      top: 50%
      right: 5%
      color: #2ADDB2
      //#3AEDC2

    #login:hover
      cursor: pointer
      text-decoration: underline
//*********************************************
  
//phone responsive
@media only screen and (max-width: 450px)
  #bubbles
    display: none
  #panel1
    top: 40%
    left: 50%
    width: 65%
    height: 60%
  
  #introduction
    top: 85%
    left: 50%
    width: 80% 
    h1
      font-size: 13rem
      margin: 10px 0px
    p
      font-size: 5rem
      margin: 10px 0px
