/******** */
/*nav_bar */
/******** */
* {
  margin: 0;
  padding: 0;
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=select] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#navbar-2 {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.2rem;
  background-color: var(--background-color-navbar);
  z-index: 6;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--background-color-navbar);
  z-index: 6;
}

#navbar #selecticon {
  display: none;
}

a {
  margin-left: 3%;
  text-decoration: none;
}

a #title {
  font-family: var(--font-family-header);
  font-style: var(--font-style-header);
  font-weight: 500;
  font-size: 2.3rem;
  /*top: 0px; */
  line-height: 2.5rem;
  color: var(--fontcolor-main);
  margin-left: 3%;
}

/*button */
#navbar form {
  position: relative;
}

#navbar form input {
  height: 2.2rem;
  width: calc( 30vw - 4rem);
  border-radius: 1rem;
  border: none;
  outline: none;
  margin-top: 0.25rem;
  background-color: var(--background-color-searchbar);
  padding: 0 4.5rem 0 1.3rem;
}

#navbar form select {
  background: transparent;
  outline: none;
  border: none;
  -webkit-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  color: var(--black-3);
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrasp;
  list-style-type: none;
  margin-right: 7vw;
}

#navbar li {
  display: block;
  float: right;
  width: 1.5vw;
  height: 2.3rem;
  white-space: nowrap;
  word-break: normal;
  font-size: 1.7rem;
  font-family: var(--font-family-text);
  font-style: var(--font-style-text);
  margin-right: 40%;
}

#navbar li .button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#navbar li .button:hover {
  opacity: 0.75;
}

#navbar li #feedback:hover {
  opacity: 0.75;
}

#navbar li #feedback {
  background-image: url("../file/feedbackicon.png");
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transform: translate(-0.2rem, 0);
          transform: translate(-0.2rem, 0);
}

#navbar li a {
  cursor: pointer;
}

#navbar li .hover {
  display: none;
  position: absolute;
  background-color: #555555;
  color: white;
  border-radius: 0.4rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  z-index: 2;
}

#navbar li #feedback-hover {
  -webkit-transform: translate(-1.25rem, 0px);
          transform: translate(-1.25rem, 0px);
}

#navbar li #alert-hover {
  -webkit-transform: translate(-0.5rem, 0px);
          transform: translate(-0.5rem, 0px);
}

#navbar li #message-hover {
  -webkit-transform: translate(-2rem, 0);
          transform: translate(-2rem, 0);
}

#navbar li #aboutus-hover {
  -webkit-transform: translate(-1.5rem, 0);
          transform: translate(-1.5rem, 0);
}

#navbar li #profile-hover {
  -webkit-transform: translate(-1.25rem, 0);
          transform: translate(-1.25rem, 0);
}

#navbar li #event {
  background-image: url("../file/scheduleicon.png");
}

#navbar li #appalert {
  display: none;
}

#navbar li #message {
  background-image: url("../file/msgicon.png");
}

#navbar li #aboutus {
  background-image: url("../file/groupicon.png");
  width: 1.7rem;
  height: 1.7rem;
}

#navbar li #profile {
  /*background-image: url('../file/personalinfoicon.png') */
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--background-color-userpic);
  border: solid var(--border-color-userpic) 0.15rem;
}

#navbar li #profile #userpic {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#navbar li #logout {
  background-image: url("../file/logouticon.png");
}

#navbar li #home {
  background-image: url("../file/app-home.png");
  display: none;
}

#navbar li #notificationboard {
  display: none;
  margin: 0.5vh 0 0 -1rem;
  padding: 0.5rem;
  position: relative;
  height: 0vh;
  width: 22rem;
  top: 0;
  right: 8rem;
  background-color: #EEE;
  border-radius: 1.5rem;
  border: solid 2px #CCC;
}

#navbar li #notificationboard #noticeheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5vh 0 0.5vh 1vw;
}

#navbar li #notificationboard #notices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: scroll;
  overflow-x: hidden;
  height: 39vh;
  border-radius: 1.5rem;
  z-index: 0;
}

#navbar li #notificationboard #notices .notice:hover {
  background-color: #F0F0F0;
}

#navbar li #notificationboard #notices .notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: white;
  margin: 0.3rem;
  padding: 0.15rem 0.2rem;
  border-radius: 1rem;
  position: relative;
}

#navbar li #notificationboard #notices .notice a {
  margin: 0;
}

#navbar li #notificationboard #notices .notice #noticesenderpic {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: var(--background-color-userpic);
}

#navbar li #notificationboard #notices .notice .notice-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0 0.5rem;
  cursor: pointer;
}

#navbar li #notificationboard #notices .notice .notice-right #notice-righttop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#navbar li #notificationboard #notices .notice .notice-right #notice-righttop a {
  margin: 0;
}

#navbar li #notificationboard #notices .notice .notice-right #notice-righttop p {
  font-size: 1rem;
  color: #333333;
  line-height: 1.2rem;
  margin: 0 0.2rem;
}

#navbar li #notificationboard #notices .notice .notice-right #notice-righttop #noticesendername {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3rem;
}

#navbar li #notificationboard #notices .notice .notice-right #notice-righttop .notice-detail {
  font-size: 0.8rem;
  font-weight: 500;
  white-space: normal;
  line-height: 1rem;
  margin-left: 0.2rem;
}

#navbar li #notificationboard #notices .notice .notice-right #notice-righttop #noticeevent {
  font-size: 1.2rem;
  font-weight: 600;
  width: 7.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#navbar li #notificationboard #notices .notice .notice-right #notice-rightbottom #notice-date {
  font-size: 0.7rem;
  color: var(--black-1);
  font-weight: 400;
}

#navbar li #notificationboard #notices .notice #notice-status {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  right: 0;
}

#navbar li #notificationboard #notices .notice #notice-status #notice-dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}

#gotop {
  display: none;
  position: fixed;
  border-radius: 50%;
  right: 1rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 5;
  -webkit-tap-highlight-color: transparent;
}

footer {
  height: 3rem;
  background-color: var(--background-color-navbar);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

footer p {
  font-size: 0.65rem;
}

@media screen and (display-mode: standalone) {
  #navbar {
    padding-top: 1.5rem;
  }
  #profileall #profilepanel #top-region #intro {
    margin-top: 2.5rem;
  }
  #panel1 {
    margin-top: 6.5rem;
  }
  #container {
    margin: 1.5rem auto 5rem auto;
  }
}

@media only screen and (max-width: 480px) {
  #navbar-2 {
    display: block;
  }
  #navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navbar #selecticon {
    display: none;
    width: 2.5rem;
    height: 0;
    margin-left: 0.5rem;
  }
  #navbar a {
    margin: 0;
  }
  #navbar a #title {
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
  }
  #navbar form {
    display: none;
  }
  #navbar ul {
    position: absolute;
    width: 100%;
    margin-right: 0.9rem;
  }
  #navbar ul li {
    position: absolute;
    margin-right: 0;
  }
  #navbar ul li #home {
    display: block;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11vw;
    height: 11vw;
    max-height: 3rem;
  }
  #navbar ul li #feedback {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  #navbar ul li #profile {
    background-color: transparent;
    border: none;
    border-radius: 0;
    background-image: url("../file/app-profile.png");
    display: block;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11vw;
    height: 11vw;
    max-height: 3rem;
  }
  #navbar ul li #profile img {
    display: none;
  }
  #navbar ul li #logout {
    background-image: url("../file/app-logout.png");
    display: block;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11vw;
    height: 11vw;
    max-height: 3rem;
  }
  #navbar ul li #feedback-hover {
    display: none;
  }
  #navbar ul li #alert {
    display: none;
  }
  #navbar ul li #appalert {
    display: block;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11vw;
    height: 11vw;
    max-height: 3rem;
  }
  #navbar ul li #notificationboard {
    display: none;
    margin: 0.5vh 0 0 0;
    padding: 0.5rem;
    position: fixed;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 0vh;
    width: calc(100% - 1rem - 2px);
    top: 3.2rem;
    left: 50%;
    right: auto;
    background-color: #EEE;
    border-radius: 1.5rem;
    border: solid 2px #CCC;
  }
  #navbar ul li #message {
    background-image: url("../file/app-message.png");
    display: block;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11vw;
    height: 11vw;
    max-height: 3rem;
  }
  #navbar ul li #aboutus {
    background-image: url("../file/app-group.png");
    display: block;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11vw;
    height: 11vw;
    max-height: 3rem;
  }
  #navbar ul li:nth-child(5) {
    left: calc(100% / 5 * 5 - 100% / 10);
    position: fixed;
    bottom: -0.1rem;
  }
  #navbar ul li:nth-child(2) {
    left: calc(100% / 5 * 4 - 100% / 10);
    position: fixed;
    bottom: -0.1rem;
  }
  #navbar ul li:nth-child(3) {
    left: calc(100% / 5 * 3 - 100% / 10);
    position: fixed;
    bottom: -0.1rem;
  }
  #navbar ul li:nth-child(4) {
    left: calc(100% / 5 * 2 - 100% / 10);
    position: fixed;
    bottom: -0.1rem;
  }
  #navbar ul li:nth-child(6) {
    left: calc(100% / 5 * 1 - 100% / 10);
    position: fixed;
    bottom: -0.1rem;
  }
  #navbar ul li:nth-child(1) {
    position: absolute;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    right: 0;
  }
  #gotop {
    right: 1.5rem;
    bottom: 4.5rem;
    width: 4rem;
    height: 4rem;
  }
  footer {
    display: none;
  }
}
/*# sourceMappingURL=navbar.css.map */