/********
/*nav_bar
/********

@font-face
  font-family: jf-openhuninn
  src: url('../fonts/jf-openhuninn-1.1.woff') format("woff")
  font-display: auto


\:root
  --background_color: #FFFFFF
  --background_color_card: #E8E8E8
  --fontcolor-navbarbutton: #000000
  --fontcolor_header: #000000
  --fontcolor_text: #000000
  --color-main: #FAAD95
  --font-family-header: "jf-openhuninn", "Tahoma", "Arial"
  --font-style-header: normal
  --font-family-text: "jf-openhuninn", "Tahoma", "Arial"
  --font-style-text: normal
  --font-family-card: "jf-openhuninn", "Tahoma", "Arial"
  --font-style-card: normal

#navbar
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 7.5vw
  background-color: var(--background_color)
  border-radius: 0px 0px 4vw 4vw

  /*UpLeft/UR/DR/DL
  opacity: 0.8
  z-index: 1

#title
  font-family: var(--font-family-header)
  font-style: var(--font-style-header)
  font-weight: 100
  font-size: 4.7vw

  /*top: 0px;
  line-height: 7.5vw
  color: var(--fontcolor_header)
  margin-left: 3.5%

/*button
#navbar
  ul
    display: flex
    justify-content: space-around
    align-items: center

    /*gap: 10%;
    white-space: nowrasp
    list-style-type: none
    margin-right: 5%

  li
    display: block
    float: right

    /*margin: 32px;
    overflow: left
    white-space: nowrap
    word-break: normal
    word-wrap: nowrap

    /*font-size: 36px;
    font-size: 2.5vw
    font-family: var(--font-family-text)
    font-style: var(--font-style-text)
    margin-right: 10%
  a
    text-decoration: none
