\:root

//all
  --background-color: #FFF6ED
  --background-color-navbar: #FFAD94
  --background-color-input: #FFE4DC

  --fontcolor-navbarbuttons: #000000
  --fontcolor-main:  #000000
  --fontcolor-second: #828282
  

  --font-family-header: "Noto Sans TC", "Tahoma", "Arial"
  --font-style-header: normal
  --font-family-text: "Noto Sans TC", "Tahoma", "Arial"
  --font-style-text: normal
  --font-family-card: "Noto Sans TC", "Tahoma", "Arial"


//homepage
  --background-color-card: #FFC5B2
  --background-color-box: #FFFFFF
  --background-color-filiter: #EEEEEE
  --background-color-eventwindow: #F5FBFE
  --background-color-filiter2: #EFFFFB
  --background-color-create: #F5FBFE
  --background-color-buttons: #32DEB5
  --background-color-buttons-hover: #9FE4D4

  --border-color-box: #FFE4DC
  --border-color-eventwindow: #75E1C7
  --border-color-participate: #CCCCCC
  --border-color-create: #FFAD94
  --border-color-focus: #B9B9B9
  
  --fontcolor-before: #888888
  --fontcolor-hover: #666666
  --fontcolor-complement: #777777
  --fontcolor-subtitle: #333333

  --box-shadow-color: rgba(0, 0, 0, 0.25)

  --font-family-header: "Noto Sans TC", "Tahoma", "Arial"
  --font-style-header: normal
  --font-family-text: "Noto Sans TC", "Tahoma", "Arial"
  --font-style-text: normal
  --font-family-card: "Noto Sans TC", "Tahoma", "Arial"

//profile

  --background-color-intro: #FFE4DC
  --background-color-freind: #FFFFFF
  --background-color-event: #FFE4DC

  --background-color-activity: #FFFFFF

  --background-color-buttons: #FDF2EF
  --background-color-tag1: #FFCFBF
  --background-color-tag2: #75E1C7

  --background-color-description: #FFFFFF
  --background-color-comment: #EFFFFB
  --background-color-frames: #FFFFFF
  
  --border-color-frame: #FFE4DC
  
  --border-color-buttons: #FFAD94
  --border-color-tag1: #FFCFBF
  --border-color-tag2: #75E1C7

  --background-color-button2: #FFE4DC