/************/
/*font style*/
/************/
import 'taipei-sans-tc';
@font-face {
  font-family: Gentium;
  src: url(https://cdn.jsdelivr.net/npm/taipei-sans-tc);
}


.theme_light
{
    --background_color: #FFD4B7;
    --background_color_card: #E8E8E8;
    --main_
    --fontcolor_header: #88C8FF;
    --fontcolor_text: #D287FF;
    --font-family-header: "Futura";
    --font-style-header: "italic";
    --font-family-text: "taipei-sans-tc";
    --font-style-text: "none";
    --font-family-card: "taipei-sans-tc";
    --font-style-card: "none";
}





/*************/
/*entire area*/
/*************/
*
{
  margin: 0;
  padding: 0;
}


/*background_group photo*/
#background
{
    background-color: var(--background_color);
    z-index: -1;
}
#group-img
{
    background: url("./file/groupphoto_1.jpg") center / cover no-repeat;
    position: fixed;
    top: 15px;
    left: 0;
    height: auto;
    width: 100%;
    opacity: 1;
    z-index: 0;
}

/********/
/*header*/
/********/

h1
{
    position: static;
    /*transform: translate(-50%, -50%);*/
    left: 50%;
    color: var(--fontcolor_header);
    font-size: 64px;
    font-weight: 500;
    font-family: var(--font-family-header);
    font-style: var(--font-style-header);
    text-decoration: none;
}


p
{
    /*要怎麼限制在一定的(左右)範圍內？*/
    position: static;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    
    color: var(--fontcolor_text);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-family-header);
    font-style: var(--font-style-header);
    
    text-decoration: none;
}
/*********/
/*nav_bar*/
/*********/

#navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: var(--background_color);
    border-radius: 0px 0px 50px 50px;
         /*UpLeft/UR/DR/DL*/
    opacity: 0.45;
    z-index: 1;
}

/*logo*/

/*button*/
/*ul li部分我不熟，需要支援xdd_____rg*/


/***********/
/*main area*/
/***********/

#img-cards
{
    background-color: green;
    width: 100%;
    z-index: 1;
}

.card
{
    background-color: #FFA511;
    height: 360px;
    width: 240px;
    left: 10%;
    bottom: 0;
    font-size: 36px;
    
    /*UL/UR/DR/DL*/
    border-radius: 30px 30px 30px 30px;
    opacity: 1;
    z-index: 3;
}

.card-detail
{
    background-color: #AD15FF;
    height: 30%;
    width: 100%;
    left: 50%;
    bottom: 0;
    font-size: 36px;
    
    /*UL/UR/DR/DL*/
    border-radius: 30px 30px 30px 30px;
    opacity: 0.7;
    z-index: 4;
}



