.theme_light
{
    --background_color: #FFFFFF;
    --main_
    --title: #000000;
    --text: #000000;
    
}
/*************/
/*entire area*/
/*************/

/*background_group photo*/



/*********/
/*top_bar*/
/*********/

/*logo*/

/*button*/



/***********/
/*main area*/
/***********/

/*title & slogan*/
/*heading*/


/*cards*/




*{
  margin: 0;
  padding: 0;
}
