{% load static %}
{% load pwa %}
doctype html                                               
html
  head
    {% progressive_web_app_meta %}
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="viewport-fit=cover, user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    title CONNECT - About Us
    link(href="{% static 'file/logo.ico' %}",rel="icon")
    {% load sass_tags %}
    link(href="{% sass_src 'sass/about_us.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/variable.sass' %}",rel="stylesheet",type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")\
    script(src="{% static 'js/about_us.js' %}")
    script(src="{% static 'js/navbar.js' %}")

  body
    {% include 'navbar.pug' %} 
    #background
    #group-img //(src="{% static './file/groupphoto_2.png'%}")
    #about_details 
    #img-cards

      #gap1 
      h1 about us.
      p#slogan 我們是一群由成功大學電機系、工設系、不分系和外文系的學生所組成的一個團隊，目標是在這學期結束前架構出一個專門為大學生設計的社群網站 - CONNECT，讓大學生們可以在學校裡更容易找到志同道合的夥伴共事
      #gap2 

      #cards
        a(href="{% url 'profile' id=9 %}")
          .card
            img.personal_pic(src="{% static 'file/name1_2.png'%}")
            .card-bg
            .card-detail
              p.personal-name 張仲喆
              p.description 工程師
              .hidden-description(style = "display: none")
                p.description 技能：c, c++, lr
                p.description 系所：電機系111
                p.description 興趣：攝影, 打桌球, 打code, 彈吉他
        
        
        a(href="{% url 'profile' id=3 %}")
          .card
            img.personal_pic(src="{% static 'file/name2_2.png'%}")
            .card-bg
            .card-detail
              p.personal-name 蔡孟芩
              p.description 設計師
              .hidden-description(style = "display: none")
                p.description 技能：英文, 德文, 翻譯
                p.description 系所：外文系110
                p.description 興趣：學習語言, 寫詞編曲, 烘焙

        
        a(href="{% url 'profile' id=1 %}")
          .card
            img.personal_pic(src="{% static 'file/name3_2.png'%}")
            .card-bg
            .card-detail
              p.personal-name 陳亮州
              p.description 工程師
              .hidden-description(style = "display: none")
                p.description 技能：Java, C, C++, Python
                p.description 系所：電機系111
                p.description 興趣：聽音樂, 看電影, 打code

        
        a(href="{% url 'profile' id=2 %}")
          .card
            img.personal_pic(src="{% static 'file/name4_2.png'%}")
            .card-bg
            .card-detail
              p.personal-name 鄭有希
              p.description 設計師
              .hidden-description(style = "display: none")
                p.description 技能：ps, ai, pr, solidworks
                p.description 系所：工設110
                p.description 興趣：看小說, 打排球, 彈吉他
        //
          a
            .card
              img.personal_pic(src="{% static 'file/name5_2.png'%}")
              .card-bg
              .card-detail
                p.personal-name 鄭价閎
                p.description 工程師
                .hidden-description(style = "display: none")
                  p.description 技能：Java, C
                  p.description 系所：電機系111
                  p.description 興趣：球類, 手遊, 漫畫, 魔方

        
        a(href="{% url 'profile' id=10 %}")
          .card
            img.personal_pic(src="{% static 'file/name6_2.png'%}")
            .card-bg
            .card-detail
              p.personal-name 蕭孟恩
              p.description 設計師
              .hidden-description(style = "display: none")
                p.description 技能：Ai, ID, Miro, Figma
                p.description 系所：不分系110
                p.description 興趣：科幻電影, 獨立音樂

        
        a(href="{% url 'profile' id=5 %}")
          .card
            img.personal_pic(src="{% static 'file/name7_2.png'%}")
            .card-bg
            .card-detail
              p.personal-name 林雯琪
              p.description 工程師
              .hidden-description(style = "display: none")
                p.description 技能：C++, Python
                p.description 系所：電機系111
                p.description 興趣：聽音樂, 打遊戲

        #gap3
        .logs
        
          .top
            p.version 0.0.10
            p.date 21/6/8
          p.description - 又是一個美好的一天，修正了一些bug，看了一些yt
          
          .top
            p.version 0.0.11
            p.date 21/6/10
          p.description - 新增了mail通知，不小心吃了兩包鹹酥雞
          
          .top
            p.version 0.0.12
            p.date 21/6/15
          p.description - 活動創建者現在可以編輯、刪除活動
          
          .top
            p.version 0.0.12
            p.date 21/6/17
          p.description - 超人拯救世界，大學生拯救期末考，各位加油
          
          .top
            p.version 0.0.13
            p.date 21/6/19
          p.description - 修正個人頁面崩潰的問題
          p.description - 微調註冊頁面
          
          .top
            p.version 0.0.14
            p.date 21/6/23
          p.description - 修正一些魔法師都無法解決的問題
          
          .top
            p.version 0.0.15
            p.date 21/6/25
          p.description - 現在可以在留言中tag你的朋友了！（ 利用 @[名字] + 一個空格 ）
          
          .top
            p.version 0.0.16
            p.date 21/6/27
          p.description - app加緊趕工ing!!
          
          .top
            p.version 0.0.17,18,19,20
            p.date 21/6/28,29
          p.description - 改了很多很多很多很多東西
          p.description - 各位晚ㄢ

          .top
            p.version 0.0.21
            p.date 21/7/3
          p.description - 現在可以分享你的活動連結給其他人了
          
          
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js")
