{% load static %}
{% if event_detail.host %}
#eventwindow
  #description
    h1 {{ event_detail.title }}
    #subtitle {{ event_detail.subtitle }}
    #detail {{ event_detail.detail }}

  #member
    a(href="{% url 'profile' id=event_detail.host.pk %}")
      img#organizer.member(src='{{ event_detail.host.img.url }}')
    #bar
    {% for participant in event_detail.participants.all %}
    a(href="{% url 'profile' id=participant.pk %}")
      img.member.participant(src='{{ participant.img.url }}')
    {% empty %}
    {% if event_detail.number_of_likes == 0 %}
    p 還沒有參與者
    {% endif %}
    {% endfor %}
    {% for interested_user in event_detail.likes.all %}
    a(href="{% url 'profile' id=interested_user.pk %}")
      img.member.interested(src='{{ interested_user.img.url }}')
    {% endfor %}
  
  #operatebg
  
  #eventoperate
    a(href="{% url 'home' %}")   
      img#exitbtn1(src="{% static 'file/exiticon.png' %}")
    #flag
      img#flag-y(src="{% static 'file/flag-y.png' %}")
      img#flag-n(src="{% static 'file/flag-n.png' %}")
    
      
    #date 2021/5/2
    a(href="{% url 'profile' id=event_detail.host.pk %}")
      img#organizerpic(src='{{ event_detail.host.img.url }}')
      p {{ event_detail.host.full_name }}

      
    #likebutton
      form(action="{% url 'like' event_detail.pk %}", method="POST")
        {% csrf_token %}
        button(type="image", src="{% static 'file/like-n.png' %}", alt="Submit Form",name="event_id", value="{{ event_detail.id }}")
          span#like-img
      //
        img#like-y(src="{% static 'file/like-y.png' %}")
        img#like-n(src="{% static 'file/like-n.png' %}")

    #applybutton
      img#apply-y(src="{% static 'file/applyicon.png' %}")

  #sent
    {% load static %}
    img#mailicon(src="{% static 'file/lettericon.png' %}")
    p 已向發起者送出邀請
{% endif %}
