{% load sass_tags %}
{% load static %}
link(href="{% sass_src 'sass/eventwindow.sass' %}",rel="stylesheet",type="text/css")
doctype html
html
  head
  body
    #filter1
    #eventwindow
      #eventwindow-left
        #description
          #description-top
            #eventwindow-bg
              #eventpic
                img.pic
                p 目前沒有圖片
            #event-heading
              #event-title
              #event-subtitle
              #event-require
                //ajax append #requiretag
                  //#requiretag
            #date
              p#event-date 活動日期
              p#due-date 報名截止
          
          #event-detail {{ event_detail.detail }}
        #eventmsgregion
          p#msgtitle 留言板
          #eventmsg-board
            //-
              .eventmsg#eventmsg(style="display: none")
                a
                  img.sender
                #eventmsg-right
                  #eventmsg-righttop
                    a#eventmsg-sendername
                    p#event-date
                  #eventmsg-rightbottom
                    p#eventmsgtext

        #eventmsg-sender
          {% if request.user.is_authenticated %}
          a(href="{% url 'profile' id=request.user.userextend.pk %}")
            img#senderpic(src="{{ request.user.userextend.img.url }}")
          {% else %}
          img#senderpic
          {% endif %}
          {% if request.user.is_authenticated %}
          .comment-operate-region
            input.eventmsg-insert(type="text", name='text', placeholder="傳送訊息...")
            input.eventmsg-btn(type="button", value="送出")
            input.eventjoin-btn(type="button", value="申請加入")
            input.eventedit-btn(type="button", value="控制中心", style="display: none")
            script.
              $(document).ready(function(){
                $(".eventmsg-btn").on("click", function() {
                  message_handler(
                    'comment/' + $(this).closest('#eventwindow').attr('class'),
                    $(this).closest('#eventwindow').attr('class'),
                    "{{ csrf_token }}");
                })
                $(".eventedit-btn").on("click", function() {
                  get_apply_handler(
                    "{% url 'get_apply' %}",
                    "{{ csrf_token }}",
                    $(this).closest('#eventwindow').attr('class')
                  );
                })
              })
          {% else %}
          a.comment-operate-region(href="{% url 'login' %}")
            input.eventmsg-insert(type="text", name='text', placeholder="傳送訊息...")
            input.eventmsg-btn(type="submit", value="送出")
            input.eventjoin-btn(type="button", value="加入團隊")
          {% endif %}
          
      #eventwindow-right
        #joinevent-btn
        
        #eventoperate
          a
            img#exitbtn1(src="{% static 'file/exiticon.png' %}")
            
          a#organizer-link(href="#")
            img#organizer-pic.member
            p.member-hover
          #bar
          #member
            
            //-
              {% for participant in event_detail.participants.all %}
              a(href="{% url 'profile' id=participant.pk %}")
                img.member.participant(src='{{ participant.img.url }}')
                p.member-hover
              {% endfor %}

              {% for interested_user in event_detail.likes.all %}
              a(href="{% url 'profile' id=interested_user.pk %}")
                img.member.interested(src='{{ interested_user.img.url }}')
                p.member-hover
              {% endfor %}
            
          {% if request.user.is_authenticated %}
          
          {% if event_detail in request.user.userextend.event_like.all %}
          #likebutton(style="background-image: url('/static/file/like-bg-y.png')")
            button(type="image", src="{% static 'file/like-bg-n.png' %}", alt="Submit Form",name="event_id", value="{{ event_detail.id }}")
              span#like-img
          {% else %}
          #likebutton(style="background-image: url('/static/file/like-bg-n.png')")
            button(type="image", src="{% static 'file/like-bg-n.png' %}", alt="Submit Form",name="event_id", value="{{ event_detail.id }}")
              span#like-img
          {% endif %}
          script.
            $(document).ready(function(){
              $("#likebutton").on("click", function() {
                like_handler('like/' + $(this).closest('#eventwindow').attr('class'), $(this).closest('#eventwindow').attr('class'), "{{ csrf_token }}");
              })
            })
          // user not authenticated
          {% else %}
          a.login-redirect(href="{% url 'login' %}")
          #likebutton(style="background-image: url('/static/file/like-bg-n.png')", href="{% url 'login' %}")
            form(action="", method="POST")
              button(type="image", src="{% static 'file/like-bg-n.png' %}", alt="Submit Form",name="event_id", value="{{ event_detail.id }}")
          {% endif %}

      #eventjoinwindow.eventsubwindow
        img#exitbtn3.exitbtn(src="{% static 'file/exiticon.png' %}")
        .eventcontainer
          
          p#eventjoinhead 申請加入
          form
            #requirement-pane
              p#requirement-text 具備的能力
              #requirement-tags
            textarea#reason(type='text', placeholder='* 加入理由')
          input.eventjoinbtn(type="button", value="加入")
          script.
            $(document).ready(function(){
              $("input.eventjoinbtn").on("click", function() {
                join_event_handler(
                  "{% url 'join_event' %}",
                  "{{ csrf_token }}",
                  $(this).closest('#eventwindow').attr('class')
                )
              })
            })
      #eventcontrol.eventsubwindow
        img#exitbtn4.exitbtn(src="{% static 'file/exiticon.png' %}")
        .eventcontainer
          t1 參與人
          p#no-apply(style="display: none") 還沒有人申請欸 (இ﹏இ`｡) 。
          #member-control-list
            //p 報名申請
          #control-btns
            input#edit-btn(type="button", value="編輯活動")
            input#end-btn(type="button", value="結束活動")
            input#delete-btn(type="button", value="刪除活動")

          script.
            $(document).ready(function(){
              $("input#edit-btn").on("click", function() {
                edit_event_transition();
              })
              $("input#delete-btn").on("click", function() {
                delete_event_handler(
                  "{% url 'delete_event' %}",
                  "{{ csrf_token }}",
                  $(this).closest('#eventwindow').attr('class')
                )
              })
              $(document).on("click", "input#edit-confirm-btn", function() {
                edit_event_handler(
                  "{% url 'edit_event' %}",
                  "{{ csrf_token }}",
                  $(this).closest('#eventwindow').attr('class')
                )
              })
              $(document).on("click", "input#edit-cancel-btn", function() {
                let id = $(this).closest('#eventwindow').attr('class')
                reset_event_window();
                event_handler(
                "/event/" + id, 
                "{{ request.user.id }}", 
                "{{ csrf_token }}"
              );
              })
            })
          
      #eventlikes.eventsubwindow
        img#exitbtn5.exitbtn(src="{% static 'file/exiticon.png' %}")
        .eventcontainer
        
      #eventparticipants.eventsubwindow
        img#exitbtn6.exitbtn(src="{% static 'file/exiticon.png' %}")
        .eventcontainer
