{% load static %}
doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    title CONNECT
    link(href="{% static 'file/logo.ico' %}",rel="icon")
    {% load sass_tags %}
    link(href="{% sass_src 'sass/homepage.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")

  {% include 'navbar.pug' %}

  body
    #eventwindow
      #description
        h1 {{ event_obj.title }}
        //- pug多行註解：//之後要註解的都縮排
        //
          #keywords
            #kw1 costco
            p ,
            #kw2 有會員卡
            p ,
            #kw3 缺司機
        #subtitle {{ event_obj.subtitle }}
        #detail {{ event_obj.detail }}

      #member
        #organizer.member
        #bar
        #member1.member
        #member2.member
        #member3.member
        #member4.member
        #member5.member
      
      #operatebg
      
      #eventoperate
              
        img#exitbtn1(src="{% static 'file/exiticon.png' %}")
        #flag
          img#flag-y(src="{% static 'file/flag-y.png' %}")
          img#flag-n(src="{% static 'file/flag-n.png' %}")
        
          
        #date 2021/5/2
        #organizerpic
        p {{ event_obj.host.full_name }}

          
        #likebutton
          form(action="{% url 'like' event_obj.pk %}", method="POST")
            {% csrf_token %}
            button(type="image", src="{% static 'file/like-n.png' %}", alt="Submit Form",name="event_id", value="{{ event_obj.id }}")
              span#like-img
          //
            img#like-y(src="{% static 'file/like-y.png' %}")
            img#like-n(src="{% static 'file/like-n.png' %}")

        #applybutton
          img#apply-y(src="{% static 'file/applyicon.png' %}")

      #sent
        {% load static %}
        img#mailicon(src="{% static 'file/lettericon.png' %}")
        p 已向發起者送出邀請
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js")
    //- script(src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js")
    //- script(src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js")
    script(src="{% static 'js/homepage.js' %}")