{% load static %}
{% load pwa %}
doctype html
html
  head
    {% progressive_web_app_meta %}
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="viewport-fit=cover, user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    title CONNECT
    link(href="{% static 'file/logo.ico' %}",rel="icon")
    {% load sass_tags %}
    link(href="{% sass_src 'sass/variable.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/homepage.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/eventwindow.sass' %}",rel="stylesheet",type="text/css")
    script(src="https://d3js.org/d3.v5.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")\
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")\
    script(src="{% static 'js/homepage.js' %}")
    script(src="{% static 'js/navbar.js' %}")
    script(src="{% static 'js/eventwindow.js' %}")
  {% include 'navbar.pug' %}

  body
    #loading
      img#loadinggif(src="{% static 'file/connectloading.gif' %}")
    #phoneerrormsg
      //#errorlogo
      p 尚未針對窄螢幕優化
        br
        | 請先以電腦網頁瀏覽
      #errorfilter
  
    #container
      #create
        {% if request.user.is_authenticated %}
        
        a(href="{% url 'profile' id=request.user.userextend.pk %}")
          img#userpic(src="{{ request.user.userextend.img.url }}")
        form#search-form(action="{% url 'search' %}", method="GET")
          input#search-btn(type="image", src="{% static 'file/search-bg.png' %}" alt="submit")
          input.search-insert(type="text", placeholder="Search", name="search")
        button#insertbox 
          p#add-text 發起活動？
          p#insertbar |
        
        {% else %}
        
        a(href="{% url 'login' %}")
          #userpic
        a#inserta(href="{% url 'login' %}")
        button#insertbox 發起活動？
        
        {% endif %}
        

      #board
        #divider
          hr#line1.line
          //-
            form
              p 分類
              select#category
                option(value='recommend') 推薦
                option(value='recommend') 隨機
          form()
            p 排序
            select#sort
              option(value='newest') 最新建立
              option(value='recent') 近期活動
              option(value='most-like') 最多人喜歡
              option(value='most-participant') 最多人參與
          hr#line2.line
          script.
            $(document).ready(function(){
              $("#sort").on("change", function() {
                $("#loading").show()
                $("#loading").animate({'opacity': 1}, 500, function() {
                })
                sort_event_handler(
                  "{% url 'order' %}",
                  "{{ csrf_token }}");
              })
            })
              
        #eventboard
          {% if origin_user_zip %}
          p.search-info 相關使用者
          #virtualdiv
          #virtualdiv
          #virtualdiv
          #virtualdiv
          .break
          hr
          {% endif %}
          {% for user, common_friend in origin_user_zip %}
          a.user-a(id='profile_{{ user.id }}' href="/profile/{{ user.id }}" margin="0")
            .user-info
              .info-brief
                img(src="{{ user.img.url }}")
                .info-brief-right
                  p#user-name {{ user.full_name }}
                  .info-brief-school
                    p {{ user.department }}
                    p {{ user.grade }}
                    {% if request.user.is_authenticated %}
                    {% if common_friend == -1 %}
                    p 這就是你！
                    {% else %}
                    p {{ common_friend }} 位共同連結
                    {% endif %}
                    {% endif %}
              
          {% endfor %}
          #virtualdiv
          #virtualdiv
          #virtualdiv
          #virtualdiv
          .break
          {% if tagged_user_zip %}
          p.search-info 擁有相關Tag的使用者
          #virtualdiv
          #virtualdiv
          #virtualdiv
          #virtualdiv
          .break
          hr
          {% endif %}
          {% for user, common_friend in tagged_user_zip %}
          a.user-a(id='profile_{{ user.id }}' href="/profile/{{ user.id }}" margin="0")
            .user-info
              .info-brief
                img(src="{{ user.img.url }}")
                .info-brief-right
                  p#user-name {{ user.full_name }}
                  .info-brief-school
                    p {{ user.department }}
                    p {{ user.grade }}
                    {% if request.user.is_authenticated %}
                    {% if common_friend == -1 %}
                    p 這就是你！
                    {% else %}
                    p {{ common_friend }} 位共同連結
                    {% endif %}
                    {% endif %}
              
          {% endfor %}
          #virtualdiv
          #virtualdiv
          #virtualdiv
          #virtualdiv
          .break
          {% if tagged_user_zip or origin_user_zip %}
          p.search-info 相關活動
          #virtualdiv
          #virtualdiv
          #virtualdiv
          #virtualdiv
          .break
          hr
          {% endif %}
          {% if event_obj %}
          {% for event in event_obj %}
          a.event-a(id='{{ event.pk }}' margin='0')
            .eventpost
              .posttop
                {% if not event.is_closed %}
                {% if event.host == request.user.userextend %}
                .post-condition(style="display: none") 1
                {% else %}
                .post-condition(style="display: none") 0
                {% endif %}
                {% endif %}
                p#post_title.title {{ event.title }}
                p#post_subtitle.subtitle {{ event.subtitle }}
                p#post_detail {{ event.detail }}
                {% if event.image %}
                img#postimgs(src="{{ event.image.url }}")
                {% else %}
                //- #postimgs
                {% endif %}
                #add_pic
                  #addpic_bg
                    #addicon  
                #posttag
                  #tags
                #postcreatdate
                  //- p {{ event.create_date }}
                #postwanted
                  //- p {{ event.people_wanted }}
                
              .postbottom
                img#commenticon(src="{% static 'file/participant.png' %}")
                p#commentnum {{ event.number_of_participants }}
              
                {% if request.user.userextend in event.likes.all %}
                img#likeicon(src="{% static 'file/like-y.png' %}")
                {% else %}
                img#likeicon(src="{% static 'file/like-grey.png' %}")
                {% endif %}
                p#likesnum {{ event.number_of_likes }}
          {% empty %}
          .eventpost(style='width: 100%; margin-top: 3rem; padding: 2rem 0')
            p 目前沒有相關內容
          {% endfor %}
          {% endif %}
          script.
            $('#eventboard a.event-a').on("click", function() {
              $("#loading").show()
              $("#loading").animate({'opacity': 1}, 200, function() {
              })
              $('#eventwindow').attr('class', this.id)
              event_handler(
                "/event/" + this.id, 
                "{{ request.user.id }}", 
                "{{ csrf_token }}"
              );
            });
          
          #virtualdiv
          #virtualdiv
          #virtualdiv
          #virtualdiv
            
    {% if request.user.is_authenticated %}
    #need-comment-flag(style="display: none") {{ need_comment }}
    #comment-window(style="display: none")
      img#exitbtn2(src="{% static 'file/exiticon.png' %}")
      p 嗨{{ request.user.last_name }}！你對於"{{ need_comment_event.title }}"的體驗如何呢？
      p 來為活動和參加者評分吧！
      #first-comment.comment-div
        {% if need_comment_event.host != request.user.userextend %}
        p 給 {{ need_comment_event.host.full_name }} 的評語
        label(for="{{ need_comment_event.host.full_name }}", style="display: none") {{ need_comment_event.host.full_name }}
        input(type="text", placeholder="留言.......", name="{{ need_comment_event.host.full_name }}")
        {% endif %}
      {% for participant in need_comment_event.participants.all %}
      {% if participant.full_name != request.user.userextend.full_name %}
      .comment-div
        p 給 {{ participant.full_name }} 的評語
        label(for="{{ participant.full_name }}", style="display: none") {{ participant.full_name }}
        input(type="text", placeholder="留言.......", name="{{ participant.full_name }}")
      {% endif %}
      {% endfor %}
      input#send-comment-btn(type="button", value="送出")
      script.
        $(document).ready(function(){
          $("#send-comment-btn").on("click", function() {
            rate_event_handler(
              "{% url 'rate_event' %}",
              "{{ need_comment_event.pk }}", 
              "{{ csrf_token }}");
          })
        })


    #filter1
    #eventcreatewindow
      img#exitbtn2(src="{% static 'file/exiticon.png' %}")
      
      form(id="createevent", action="", method="post", enctype="multipart/form-data", autocomplete="off") {% csrf_token %}
        #profile
        {{ form.as_table }}
        
        #buttons
          input#submit-btn(type='button', value='發佈')
          //(type="submit" value='發佈')
    {% endif %}
    footer
      {% include "footer.pug" %}
      
    .event-detail
      {% include "eventwindow.pug" %}
   
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js")
