{% load static %}
doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    title CONNECT
    link(href="{% static 'file/logo.ico' %}",rel="icon")
    {% load sass_tags %}
    link(href="{% sass_src 'sass/homepage.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  {% include 'navbar.pug' %}

  body
    #phoneerrormsg
      //#errorlogo
      p 尚未針對窄螢幕優化
        br
        | 請先以電腦網頁瀏覽
      #errorfilter
  
    #container
      #create
        {% if request.user.is_authenticated %}
        
        a(href="{% url 'profile' id=request.user.userextend.pk %}")
          img#userpic(src="{{ request.user.userextend.img.url }}")
        button#insertbox 發起活動？
          p#insertbar |
        
        {% else %}
        
        a(href="{% url 'login' %}")
          #userpic
        a#inserta(href="{% url 'login' %}")
        button#insertbox 發起活動？
        
        {% endif %}
        

      #board
        #divider
          hr#line1.line
          form
            p 分類
            select#category
              option(value='recommend') 推薦
              option(value='recommend') 隨機
          form(action="{% url 'order' %}", method="GET")
            p 排序
            select#sort(name='order', onchange="this.form.submit()")
              option(value='newest') 最新
              option(value='recent') 最近期
              option(value='most-like') 最多人喜歡
              option(value='most-participant') 最多人參與
          hr#line2.line
          
              
        #eventboard
          {% for event in event_obj %}
          a(href="{% url 'event_detail' id=event.pk %}" margin='0')
            #eventpost
              #posttop
                p#post_title.title {{ event.title }}
                p#post_subtitle.subtitle {{ event.subtitle }}
                {% if event.image %}
                img#postimgs(src="{{ event.image.url }}")
                {% else %}
                //#postimgs
                {% endif %}
                #add_pic
                  #addpic_bg
                    #addicon
                  
                  
                #posttag
                  #tags
                
                #postcreatdate
                  //p {{ event.create_date }}
                  
                #postwanted
                  //p {{ event.people_wanted }}
                
              #postbottom
                img#commenticon(src="{% static 'file/participant.png' %}")
                p#commentnum {{ event.number_of_participants }}
              
                {% if request.user.userextend in event.likes.all %}
                img#likeicon(src="{% static 'file/like-y.png' %}")
                {% else %}
                img#likeicon(src="{% static 'file/like-grey.png' %}")
                {% endif %}
                p#likesnum {{ event.number_of_likes }}
                
          {% empty %}
          #eventpost
            p no event
          {% endfor %}
          
          //如果event個數 % 3 = 2，建立一個虛擬div
          #virtualdiv
            #eventpost
            
                
        
        

    .event-detail    
      {% include 'event_detail.pug' %}

    #gotop
      p ˄
    {% if request.user.is_authenticated %}
    #filter1
    #eventcreatewindow
      img#exitbtn2(src="{% static 'file/exiticon.png' %}")
      
      form(action="", method="post", enctype="multipart/form-data") {% csrf_token %}
        #profile
        {{ form.as_table }}

        #buttons
          //input#submit-btn(type="image" src="{% static 'file/submitbtn.png' %}" alt="Submit Form")
          input#submit-btn(type="submit" value='發佈')
          //p#submit-btn 發佈
    {% endif %}
    footer
      {% include "footer.pug" %}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js")
    //- script(src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js")
    //- script(src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js")
    script(src="{% static 'js/homepage.js' %}")
