{% load static %}
doctype html                                               
html                                            
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")                 
    title CONNECT 
    {% load sass_tags %}
    link(href="{% sass_src 'sass/login.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")
  {% include 'navbar.pug' %}

  body
    #panel1 <!-- bubble and loging panel -->
      form(action="", method="post")
        #login-panel
          h1 Login 
          hr.solid
          p.input-description User ID
          label(for='username')
          input#username.input-area(type="text", name='username')
          p.input-description Password 
          label(for='password')
          input#password.input-area(type="password", name='password')
          p#forgot Forgot Password?

          .buttons 
            input(value="Login", type="submit")
            //p or
            p#sign-up Sign up

    #background-element
      #bubbles
        #gb1.bbox
          span#grey-bubble1.grey-bubble 
        #gb2.bbox
          span#grey-bubble2.grey-bubble
        #gb3.bbox
          span#grey-bubble3.grey-bubble
        #gb4.bbox
          span#grey-bubble4.grey-bubble 
        #wb1.bbox
        span#white-bubble1
      #introduction <!-- join us.. -->
        h1 Join us now.
        p.description introduction introduction introduction
      

    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js")
    script(src="{% static 'js/login.js' %}")
