{% load static %}
{% load pwa %}
doctype html
html
  head
    {% progressive_web_app_meta %}
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="viewport-fit=cover, user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    title CONNECT - Login
    link(href="{% static 'file/logo.ico' %}",rel="icon")
    {% load sass_tags %}
    link(href="{% sass_src 'sass/login.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/variable.sass' %}",rel="stylesheet",type="text/css")
    //-script(src="{% static 'js/jquery-3.2.1.min.js' %}")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    //-script(src="{% static 'js/jquery-ui.js' %}")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="{% static 'js/login.js' %}")
  {% include 'navbar.pug' %}

  body
    #panel1 <!-- bubble and loging panel -->
      
      #login-panel.panel
        form(action="", method="post") {% csrf_token %} <!-- csrf_token is for safety concern of django -->
          h1 登入 
          hr.solid
          p.input-description 使用者帳號
          label(for='username')
          input#username.input-area(type="text", name='username', placeholder="學號、帳號")
          p.input-description 使用者密碼 
          label(for='password')
          input#password.input-area(type="password", name='password', placeholder="密碼")
          p#forgot 忘記密碼？

          .buttons 
            input#login-btn(value="登入", type="button")
            p or
            p#sign-up 註冊
      
      #sign-up-panel.panel(style="display: none")
        form(action="", method="post", autocomplete="off") {% csrf_token %}
          h1 註冊
          hr.solid
          label(for='fname')
          input#fname.input-area(type="text", name='fname', placeholder="貴姓")
          label(for='lname')
          input#lname.input-area(type="text", name='lname', placeholder="大名")
          label(for='sid')
          input#sid.input-area(type="text", name='sid', placeholder="學號、帳號")
          #email-pane
            label(for='email')
            input#email.input-area(type="email", name='email', placeholder="信箱")
            input#send-check(type="button", value="送出驗證碼")
            script.
              $(document).ready(function(){
                $(document).on("click", "input#send-check", function() {
                  console.log("verification code sent")
                  send_verification_handler(
                    "{% url 'verify' %}",
                    "{{ csrf_token}}",
                  )
                });
              })
          label(for='email-check')
          input#email-check.input-area(type="text", name='email-check', placeholder="請輸入驗證碼")
          label(for='sign-pwd')
          input#sign-pwd.input-area(type="password", name="sign-pwd", placeholder="密碼")
          label(for='double-pwd')
          input#double-pwd.input-area(type="password", name="double-pwd", placeholder="請再輸入一次密碼")

          #term-div
            input#terms(type="checkbox", name="terms")
            label(for='terms') I Accept Terms and Condition, Privacy Policy

          .buttons
            input#sign-up-btn(value="註冊", type="button")
            p or
            p#login 登入
          script.
            $(document).ready(function(){
              $(document).on("click", "input#sign-up-btn", function() {
                sign_up_handler(
                  "{% url 'sign_up' %}",
                  "{{ csrf_token }}",
                )
              });
              $(document).on("click", "input#login-btn", function() {
                login_handler(
                  "{% url 'login_request' %}",
                  "{{ csrf_token }}",
                )
              });
              $(document).on("keypress", "input#password", function(e) {
                let key = e.which;
                if (key == 13) {
                  login_handler(
                    "{% url 'login_request' %}",
                    "{{ csrf_token }}",
                  );
                }
              });
            })
    #background-element
      image#login-leftpic(src="{% static 'file/login-leftpic.png' %}")
      
      .description-head 
        h1 現在就加入 
        h1 CONNECT
      .description 
        p 想出遊但找不到同伴? 
        p 想參加競賽但不知道找誰一起? 
        p 想逛costco需要找有卡的人?
        br
        p.final-description 加入Connect發起活動與專案，
        p.final-description 讓你找到同伴一起完成你想做的事!
    
    //-script(src="{% static 'js/semantic.min.js' %}")
    script(src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js")
    script(src="{% static 'js/navbar.js' %}")
