{% load sass_tags %}
{% url 'about_us' as about_us_url %}
{% url 'home' as home_url %}
link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")  
header
  #navbar 
    #title CONNECT.

    ul
      li 
        a.button(href="{{ home_url }}") home
      li 
        a.button(href="#") activity
      li 
        a.button(href="{{ about_us_url }}") about us
        
        //a.button(href="javascript:window.location.reload({{ about_us_url }})") about us
