{% load sass_tags %}
{% url 'about_us' as about_us_url %}
{% url 'home' as home_url %}
link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")  
header
  #navbar
    //#loadingfilter
    //img#loadinggif
  
  
    a(href="{% url 'home' %}")
      #title CONNECT.

    form
     input(type="text", placeholder="Search")

    ul
      li 
        //a#event.button(href="{{ home_url }}")
        a#feedback.button(href="https://forms.gle/jg1putGAWZntSeNPA" title="問題回報")
      li 
        a#alert.button(href="#" title="通知")
        #notificationboard
          p#noticeheading 通知
          #notices
            
            .notion 1
            .notion 2
            .notion 3
            .notion 4
            .notion 5
            .notion 1
            .notion 2
            .notion 3
            .notion 4
            .notion 5
            .notion 1
            .notion 2
            .notion 3
            .notion 4
            .notion 5
            .notion 1
            .notion 2
            .notion 3
            .notion 4
            .notion 5
            .notion 1
            .notion 2
            .notion 3
            .notion 4
            .notion 5
      li 
        a#message.button(href="#" title="功能開發中")
      li
        a#aboutus.button(href="/about_us" title="about us")
      li 
        {% if request.user.is_authenticated %}
        //a#profile.button(href="{% url 'profile' id=request.user.userextend.pk %}")
        a#logout.button(href="/logout/" title="登出")
        {% else %}
        a#profile.button(href="{% url 'login' %}" title="登入")
        {% endif %}
        //a.button(href="javascript:window.location.reload({{ about_us_url }})") about us
