{% load sass_tags %}
{% url 'about_us' as about_us_url %}
{% url 'home' as home_url %}
link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")  
header
  #navbar
    //#loadingfilter
    //img#loadinggif
    
    #clickfilter
  
    a(href="{% url 'home' %}")
      #title CONNECT.

    form(action="{% url 'search' %}", method="GET") 
     input(type="text", placeholder="Search", name="search")

    ul
      li 
        //a#event.button(href="{{ home_url }}")
        a#feedback.button(href="https://forms.gle/jg1putGAWZntSeNPA" title="問題回報")
      li
        a#alert.button(title="通知")
        #notificationboard
          p#noticeheading 通知
          #notices
            {% for noticedata in notice %}
            .notice
              a(href="{% url 'profile' id=noticedata.from_user.userextend.pk %}")
                img#noticesenderpic(src="{{ noticedata.from_user.userextend.img.url }}")
              #notice-right
                #notion-righttop
                  a#noticesendername(href="{% url 'profile' id=noticedata.from_user.userextend.pk %}") {{ noticedata.from_user.userextend.full_name }}
                  //p#notice-detail {{ noticedata.text }}
                  p 對
                  a#noticeevent(href="{% url 'event_detail' id=noticedata.event.pk %}") {{ noticedata.event }}
                  p 有興趣
                #notion-rightbottom
                  p#notice-date {{ noticedata.date }}
            
            {% empty %}
            .notice
              #notice-right
                #notion-righttop
                  p 目前沒有通知喔～
            {% endfor %}
      li 
        a#message.button(href="#" title="功能開發中")
      li
        a#aboutus.button(href="/about_us" title="about us")
        
      {% if request.user.is_authenticated %}
      
      {% if request.user.is_authenticated and request.user.pk == user.user.pk %}
      li
        a#logout.button(href="/logout/" title="登出")
      {% else %}
      li
        a#profile.button(href="{% url 'profile' id=request.user.userextend.pk %}")
      {% endif %}
      
      {% else %}
      li
        a#profile.button(href="{% url 'login' %}" title="登入")
      {% endif %}
      //a.button(href="javascript:window.location.reload({{ about_us_url }})") about us
