{% load static %}
{% load sass_tags %}
link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")  
header
  #navbar 
    #title CONNECT.

    ul
      li 
        a.button(href="#") home
      li 
        a.button(href="#") activity
      li 
        a.button(href="#") about us