{% load sass_tags %}
{% url 'about_us' as about_us_url %}
{% url 'home' as home_url %}
link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")  
header
  #navbar 
    a(href="{% url 'home' %}")
      #title CONNECT.

    form
     input(type="text", placeholder="Search")

    ul
      li 
        a#event.button(href="{{ home_url }}") 
      li 
        a#alert.button(href="#")
      li 
        a#message.button(href="#") 
      li 
        {% if request.user.is_authenticated %}
        a#profile.button(href="{% url 'profile' id=request.user.pk %}")
        {% else %}
        a#profile.button(href="{% url 'login' %}")
        {% endif %}
        //a.button(href="javascript:window.location.reload({{ about_us_url }})") about us
