{% load static %}
doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    title CONNECT - Profile
    link(href="{% static 'file/logo.ico' %}",rel="icon")
    {% load sass_tags %}
    link(href="{% sass_src 'sass/profile.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")

  {% include 'navbar.pug' %}

  body
    #profilepanel
      #top-region
        #intro
          #info
            #user-img {{ user.img }}
            #user-name {{ user.full_name }}
            #school-info
              #department {{ user.department }}
              #grade {{ user.grade }}
          #description-tag
            #description-background
              p#description {{ user.personal_description }}
            .tag-field
              p 個性
              {% for personality in personality %}
              .tag-style
                p.tags {{ personality }}
              {% empty %}
              p 他好像還沒設定個性
              {% endfor %}
            .tag-field
              p 專長
              {% for skill in skill %}
              .tag-style
                p.tags {{ skill }}
              {% empty %}
              p 他好像還沒設定專長
              {% endfor %}
            .tag-field
              p 有興趣活動
              {% for interest in interest %}
              .tag-style
                p.tags {{ interest }}
              {% empty %}
              p 他好像還沒設定有興趣的活動
              {% endfor %}

            #buttons
              input(type="button", value="建立連結")
              input(type="button", value="傳訊息")
      #bottom-region
        #left-pane
          p 聯絡人
          p#friend-count 120
          #friends-avatar
            {% for friend in user.friends.all %}
            .friend-img {{ friend.img }}
            {% empty %}
            p 快去建立連結吧
            {% endfor %}
          hr#divider1
          p 個性
          .tags#personality-left

        #right-pane
          #indextag
            #tag1.tag
            #tag2.tag
            #tag3.tag
            #tag4.tag
            #tag5.tag
        
          #tab-navbar
            input(type="button", value="參與活動")
            input(type="button", value="參與專案")
            input(type="button", value="個人專案")
            input(type="button", value="...")
            input(type="button", value="...")

          #activities
            #activity-cards-panel
              {% for activity in activities %}
              #activity-card
                #activity-img
                #activity-date {{ actvity.event_date }}
                h4#activity-title {{ activity.title }}
                #activity-rate
                  p 8.7
                #activity-character
                  p 主辦人
                
                #activity-comments-panel
                  #activity-comment
                    #activity-participant-img
                    p#activity-participant-name 張三
                    p#activity-participant-comment 天豪真的很會挑水果
                    #pactivity-articipatn-rate
                      p 8.7
              {% empty %}
              p 看來他好像還沒參加過活動喔
              {% endfor %}
                
              // so many comments

              // so many cards (use for to solve it after the backend has constructed)
          
          #projects(style="display: none")
            #project-cards-panel
              {% for project in projects %}
              #projects-card
                  #projects-img
                  #projects-date {{ project.event_date }}
                  h4#projects-title {{ project.title }}
                  #projects-rate
                    p 8.7
                  .tags#projects-tag
                    p UI&前端
                  
                  #projects-comments-panel
                    #projects-comment
                      #projects-participant-img
                      p#projects-participant-name 張三
                      p#projects-participant-comment 天豪真的很會設計網頁
                      #projects-participatn-rate
                        p 8.7

              {% empty %}
              p 看來他好像還沒參與過專案
              {% endfor %}
                  
              // so many comments

              // so many cards (use for to solve it after the backend has constructed)

          #personal(style="display: none")
            #personal-cards-panel
              {% for personal_proj in personal_projs %}
              #personal-card
                  #personal-img
                  #personal-date {{ personal_proj.event_date }}
                  h4#personal-title {{ personal_proj.title }}
                  p#personal-detail {{ personal_proj.detail }}
              {% empty %}
              p 看來他好像還沒新增過個人專案
              {% endfor %}

            // so many cards (use for to solve it after the backend has constructed)


    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js")
    script(src="{% static 'js/profile.js' %}")
